{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<link rel="canonical" href="{{ request.site.domain }}">
<meta name="description" content="{{ site_info.store_description }}">
<meta name="keywords" content="{{ site_info.store_keywords|title }}">
<meta name="robots" content="index, follow">
{% endblock %}
{% block title %}{{ request.site.name }}{% endblock %}
{% block custom_page_stylesheet %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<main class="container col-12 my-5 px-3">
	<div
		class="bg-white border rounded-10 box-shadow col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 p-4 my-5">
		<h1 class="card-title text-center">Contact Form</h1>
		<form method="post" class="mb-5">
			{% csrf_token %}
			{{ form | crispy }}
			<button class="btn btn-primary text-uppercase mt-2 mb-5"
				type="submit">Submit
				form</button>
		</form>
	</div>
</main>
{%endblock%}
