{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description" content="{{ site_info.store_description }}">
<meta name="keywords" content="{{ site_info.store_keywords|title }}">
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}{{ request.site.name }} - Returns Policy{% endblock %}
{% block custom_page_stylesheet %}
{% endblock %}
{% block content %}
<main class="container pt-2 px-3 px-md-5 mb-3">
	<div class="row d-flex">
		<aside class="col-2 my-5 d-none d-md-block">
			{% include "home/components/policy-navigation.html" %}
		</aside>
		<div class="col-12 col-md-10 my-5">
			{% include "home/components/policy-navigation-mobile.html" %}
			<article
				class=" bg-white border rounded-10 box-shadow col-12 col-md-10 offset-md-1 p-4">
				{% include "home/components/returns-policy.html" %}
			</article>
		</div>
	</div>
</main>
{%endblock%}