{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description" content="{{ site_info.store_description }}">
<meta name="keywords" content="{{ site_info.store_keywords|title }}">
<meta name="robots" content="index, follow">
{% endblock %}
{% block title %}{{ request.site.name }}{% endblock %}
{% block content %}
<section class="container-fluid bg-primary-light">
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-md-row-reverse align-items-center g-5 py-5">
			{% if site_info.image %}
			<div class="col-12 col-md-5 col-lg-6">
				<img src="{{ site_info.image.url }}"
					class="d-block mx-lg-auto img-fluid"
					alt="{{ site_info.image_alt_text }}" width="900"
					height="600" loading="lazy">
			</div>
			{% endif %}
			<div class="col-12 col-md-7 col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3"><span
						class="logo-font-lkm fs-1 text-black">LKM </span><span
						class="logo-font-creations fs-1 text-black">Creations</span>
				</h1>
				<p class="lead logo-font-creations text-black fs-3">These are
					my
					hand created amigurumi creations.<br>Please take some time
					and have a look through my
					store</p>
				<p class="text-muted align-bottom">A donation goes to our
					local charity run preschool from each sale.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a href="{% url 'products' %}" aria-current="page"
						class="btn-lg btn btn-primary text-uppercase  px-4 me-md-2">Shop
						Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<main>
	<section class="col-md-12 text-center pt-2">
		<h2 class="my-3 fs-1">Sale Items</h2>
	</section>
	<section class="col-md-10 offset-md-1 row row-cols-1 row-cols-md-2 row-cols-lg-3
		row-cols-xl-4 g-5
		mb-4">
		{% for product in products %}
		<div class="col">
			{% include "store/components/product_card.html" %}
		</div>
		{% endfor %}
	</section>
</main>
{%endblock%}