
# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
env.py

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
# htmlcov/
# .tox/
# .nox/
# .coverage
# .coverage.*
# .cache
# nosetests.xml
# coverage.xml
# *.cover
# *.py,cover
# .hypothesis/
# .pytest_cache/
# cover/

# Translations
*.mo

# Django stuff:

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# End of https://www.toptal.com/developers/gitignore/api/django
local-only/*
*.code-workspace

*copy.py
.gitignore
.DS_Store
ponicode
*copy.*
documents/assets/Holding_Image.png
documents/assets/UserPersonaSummary.jpg
documents/assets/Wireframes/wireframe-mobile.png
documents/assets/colour-pallets/main-colour-palette.png
documents/assets/database/blog_and_users.png
documents/assets/database/leannes_learners_data.png
documents/assets/logos/GitHubHeader.png
documents/assets/logos/leannesLearnersLogoPill.png
documents/assets/screenshots/responsive-showcase-mockup.png
documents/assets/screenshots/GitHub_Project_Board_Screen_Shots/Leannes_Learners_Project_Board_finish.png
documents/assets/screenshots/GitHub_Project_Board_Screen_Shots/Leannes_Learners_Project_Board_List_By_Milestones.png
documents/assets/screenshots/GitHub_Project_Board_Screen_Shots/Leannes_Learners_Project_Board_List_By_Status.png
documents/assets/screenshots/GitHub_Project_Board_Screen_Shots/Leannes_Learners_Project_Board_Milestone_Description_And_Adding_Tasks.png
documents/assets/screenshots/GitHub_Project_Board_Screen_Shots/Leannes_Learners_Project_Board_User_Story_and_Added_Tasks.png
documents/assets/screenshots/GitHub_Project_Board_Screen_Shots/Leannes_Learners_Project_Board.png
documents/assets/screenshots/GitHub_Site_Creation_Project_Path_Screen_Shots/GitHub_Site_Creation_Project_Path_Screen_Shots_item.png
documents/assets/screenshots/GitHub_Site_Creation_Project_Path_Screen_Shots/GitHub_Site_Creation_Project_Path_Screen_Shots_list_view.png
documents/assets/screenshots/GitHub_Site_Creation_Project_Path_Screen_Shots/GitHub_Site_Creation_Project_Path_Screen_Shots_table_view.png
documents/assets/screenshots/contactform/contact-form.png
documents/assets/screenshots/contactform/contact-result-email-for-originator.png
documents/assets/screenshots/contactform/contact-result-email-for-staff.png
documents/assets/screenshots/contactform/contact-success.png
documents/assets/screenshots/contactform/contact-test-result-email-for-originator.png
documents/assets/screenshots/contactform/contact-test-result-email-for-staff.png
documents/assets/screenshots/error_pages/400_error.png
documents/assets/screenshots/error_pages/403_error.png
documents/assets/screenshots/error_pages/404_error.png
documents/assets/screenshots/error_pages/500_error.png
documents/assets/screenshots/font/our_latest_blog_post.png
documents/assets/screenshots/font/our_latest_testimonials.png
documents/assets/screenshots/login/login_modal_desktop.png
documents/assets/screenshots/login/login_modal_iPhone_6.png
documents/assets/screenshots/login/login_page_desktop.png
documents/assets/screenshots/login/login_page_iphone_6.png
documents/assets/screenshots/main_pages/about_us_desktop.png
documents/assets/screenshots/main_pages/about_us_small_screen.png
documents/assets/screenshots/main_pages/admin_desktop.png
documents/assets/screenshots/main_pages/admin_not_authorised_desktop.png
documents/assets/screenshots/main_pages/blog_posts_desktop.png
documents/assets/screenshots/main_pages/blog_small_screen.png
documents/assets/screenshots/main_pages/comment_to_the_comment.png
documents/assets/screenshots/main_pages/comment_to_the_post.png
documents/assets/screenshots/main_pages/comments.png
documents/assets/screenshots/main_pages/contact_us_desktop.png
documents/assets/screenshots/main_pages/contact_us_small_screen.png
documents/assets/screenshots/main_pages/create_a_post_desktop.png
documents/assets/screenshots/main_pages/edit_details_desktop.png
documents/assets/screenshots/main_pages/edit_site_profile.png
documents/assets/screenshots/main_pages/home_desktop.png
documents/assets/screenshots/main_pages/home_small_screen.png
documents/assets/screenshots/main_pages/leannes_learners_small_screen.png
documents/assets/screenshots/main_pages/leave_a_comment_small_screen.png
documents/assets/screenshots/main_pages/local_traffic_desktop.png
documents/assets/screenshots/main_pages/Login_desktop.png
documents/assets/screenshots/main_pages/pass_plus_desktop.png
documents/assets/screenshots/main_pages/pass_plus_small_screen.png
documents/assets/screenshots/main_pages/post_delete_desktop.png
documents/assets/screenshots/main_pages/post_desktop_staff.png
documents/assets/screenshots/main_pages/post_desktop.png
documents/assets/screenshots/main_pages/post_edit_desktop.png
documents/assets/screenshots/main_pages/post_small_screen.png
documents/assets/screenshots/main_pages/prices_desktop.png
documents/assets/screenshots/main_pages/prices_small_screen.png
documents/assets/screenshots/main_pages/registration_desktop.png
documents/assets/screenshots/main_pages/reply_to_a_comment_small_screen.png
documents/assets/screenshots/main_pages/terms_and_conditions_desktop.png
documents/assets/screenshots/main_pages/traffic_small_screen.png
documents/assets/screenshots/navbar/navbar_desktop.png
documents/assets/screenshots/navbar/navbar_member_desktop.png
documents/assets/screenshots/navbar/navbar_member_small_screen.png
documents/assets/screenshots/navbar/navbar_pupil_desktop.png
documents/assets/screenshots/navbar/navbar_pupil_small_screen.png
documents/assets/screenshots/navbar/navbar_small_screen.png
documents/assets/screenshots/navbar/navbar_staff_desktop.png
documents/assets/screenshots/navbar/navbar_staff_small_screen.png
documents/assets/screenshots/password_reset/0-login-screen-forgotten.png
documents/assets/screenshots/password_reset/1-forgot-password.png
documents/assets/screenshots/password_reset/2-forgot-password-email-sent-confirmation.png
documents/assets/screenshots/password_reset/3-forgot-password-email.png
documents/assets/screenshots/password_reset/4-forgot-password-revise-password.png
documents/assets/screenshots/password_reset/5-forgot-password-completed.png
documents/assets/screenshots/password_reset/password-not-match.png
documents/assets/screenshots/tests/color_contrast_report.png
documents/assets/screenshots/tests/lighthouse_blog.png
documents/assets/screenshots/tests/lighthouse_home.png
documents/assets/screenshots/tests/unit_test_results.png
documents/dont_upload_to_github/Holding Image.indd
documents/dont_upload_to_github/Leannes Learners Repository Image.png
documents/dont_upload_to_github/Leannes Learners Wireframes.bmpr
documents/dont_upload_to_github/Leannes Learners.png
documents/dont_upload_to_github/.github/ISSUE_TEMPLATE/admin-user-story.md
documents/dont_upload_to_github/.github/ISSUE_TEMPLATE/site--admin-user-story.md
documents/dont_upload_to_github/.github/ISSUE_TEMPLATE/site-user-story.md
documents/dont_upload_to_github/Leannes_Learners_Media/about_us_image_1_greyscale.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/car_joining_motorway.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/drivers side of a car moving at speed with the street light bluring.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/favicon 2.ico
documents/dont_upload_to_github/Leannes_Learners_Media/favicon.ico
documents/dont_upload_to_github/Leannes_Learners_Media/homepage_slideshow_image_car_greyscale 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/homepage_slideshow_image_car.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/homepage_slideshow_image_lplate_greyscale2 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/leanne_greyscale 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/leanne.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/leannes learners logo 1 line no tag black.png
documents/dont_upload_to_github/Leannes_Learners_Media/leannes learners logo 1 line with tag black.png
documents/dont_upload_to_github/Leannes_Learners_Media/prices_image_1_greyscale_blurred.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line no tag Black 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line no tag Black.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line no tag White 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line no tag White.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line with tag Black 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line with tag Black.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line with tag White 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 1 line with tag White.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line no tag Black 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line no tag Black.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line no tag White 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line no tag White.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line with tag Black 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line with tag Black.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line with tag White 2.png
documents/dont_upload_to_github/Leannes_Learners_Media/Leannes Learners Logos/Leannes Learners Logo 2 line with tag White.png
documents/dont_upload_to_github/Leannes_Learners_Media/Links/Leanne 2347.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/Leanne 2348.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_4305106 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_4305106.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_4655833 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_4655833.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_35837662 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_35837662.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_36946999 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_36946999.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_79555165 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_79555165.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_93848728 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_93848728.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_104373302 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_104373302.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_109625360 2.jpg
documents/dont_upload_to_github/Leannes_Learners_Media/Links/shutterstock_109625360.jpg
documents/dont_upload_to_github/UserPersonaSummary/User Persona Summary.indd
documents/dont_upload_to_github/UserPersonaSummary/Document fonts/AdobeFnt21.lst
documents/dont_upload_to_github/UserPersonaSummary/Document fonts/SourceSansPro-Bold.ttf
documents/dont_upload_to_github/UserPersonaSummary/Document fonts/SourceSansPro-Regular.ttf
documents/dont_upload_to_github/UserPersonaSummary/Document fonts/SourceSansPro-Semibold.ttf
documents/dont_upload_to_github/UserPersonaSummary/Links/african-ge9c355d9c_1920.jpg
documents/dont_upload_to_github/UserPersonaSummary/Links/GitHubHeader.png
documents/dont_upload_to_github/UserPersonaSummary/Links/male-g31ca9d405_1920.jpg
documents/dont_upload_to_github/UserPersonaSummary/Links/man-gde89cac58_1920.jpg
documents/dont_upload_to_github/UserPersonaSummary/Links/mother-g73642f050_1920.jpg
documents/dont_upload_to_github/UserPersonaSummary/Links/woman-g9b4462858_1920.jpg
documents/dont_upload_to_github/UserPersonaSummary/Links/woman-gaab6cc2fb_1920.jpg
documents/dont_upload_to_github/Wireframes/DO_NOT_USE_UPDATE.png
README_TESTING.md
README.md
