{% load active_link_tags %}
<nav
	class="navbar navbar-expand-md navbar-light bg-primary-lightest px-2 d-md-none">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'dashboard' %}">
			<h4 class="text-black my-0">
				<span class="logo-font-lkm text-black">Dashboard </span><span
					class="logo-font-creations text-black">Menu</span>
			</h4>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center"
			id="navbarNavAltMarkup">

			<ul class="navbar-nav mt-3">
				<li class="nav-item">
					<a class="nav-link {% if 'order-history' in request.path %}active{% endif %}"
						{% if 'order-history' in request.path %}aria-current="page"
						{% endif %} href="{% url "order-history" %}">Order
						History</a>
				</li>

				<li class="nav-item">
					<a class="nav-link {% if '/connections' in request.path %}active{% endif %}"
						{% if '/connections' in request.path %}aria-current="page"
						{% endif %} href="{% url 'connections' %}">Social
						Accounts</a>
				</li>

				<li class="nav-item">
					<a class="nav-link
					{% if '/dashboard/profile-update' in request.path %}active{% endif %}"
						{% if '/dashboard/profile-update' in request.path %}aria-current="page"
						{% endif %} href="{% url 'profile-update' %}">Update
						Profile
						Details</a>
				</li>
			</ul>
			<hr class"d-md-none mb-5 mb-md-0">
		</div>
	</div>
</nav>