a.active.selector-clearall:hover {
    color: #999;
}

a.button {
    background: -- var(--clr-brand-primary);
    color: #fff;
}

a.section:hover {
    color: var(--clr-brand-secondary);
}

a.section:visited {
    color: var(--clr-brand-primary-darker);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: #999;
}

a:visited {
    color: #777;
}

table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #444;
}

#branding h1 a:visited {
    color: #fff;
}

.calendar td.selected a {
    background: var(--clr-brand-tertiary) !important;
}

.calendarbox h2 {
    background: #999;
}

.change-list ul.toplinks .date-back a:hover {
    color: #222;
}

#changelist-filter {
    top: -250px;
    right: 15px;
}

#changelist-filter h2 {
    padding-top: 0px;
    padding-bottom: 0px
}

#changelist-filter li.selected a {
    color: #444;
}

#changelist-filter li.selected a:hover {
    color: #222;
}

.collapse-toggle {
    color: var(--clr-brand-primary-darker) !important;
}

#header {
    background: var(--clr-brand-primary);
    color: rgb(0, 0, 0);
}

#header a:hover {
    color: #fff;
}

#header a:visited {
    color: var(--clr-grey) !important;
}

fieldset.collapsed .collapse-toggle {
    color: #444;
}

.inline-group h2 {
    background: var(--clr-brand-tertiary);
    color: rgb(0, 0, 0);
}

div.breadcrumbs {
    background: var(--clr-brand-tertiary);
    color: var(--clr-breadcrumbs-current);
    font-weight: bolder;
}

div.breadcrumbs a {
    color: var(--clr-breadcrumbs);
}

div.breadcrumbs a .select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #292D32;
}

div.breadcrumbs a.active {
    color: var(--clr-breadcrumbs) !important;
    font-weight: 300;
}

div.breadcrumbs a:hover {
    color: var(--clr-breadcrumbs) !important;
    font-weight: 300;
}

.logo-font-creations {
    font-family: 'Caveat',
        sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.logo-font-lkm {
    font-family: 'Caveat',
        sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#nav-sidebar .current-app .section:link {
    color: var(--clr-breadcrumbs-current) !important;
}

#nav-sidebar .current-app .section:visited {
    color: var(--clr-brand-quad);
}

#nav-sidebar .current-app .section:visited {
    color: var(--clr-breadcrumbs-current) !important;
}

input[type=button]:hover {
    background: var(--clr-brand-primary-darker);
}

input[type=file]::-webkit-file-upload-button:hover {
    border: 0;
    background: #292D32;
}

input[type=submit].default:hover {
    background: var(--clr-brand-primary-darker) !important;
}

input[type=submit].default:hover {
    background: #191D22;
}

.object-tools a:hover {
    background-color: #292D32;
}

.paginator a.showall:hover {
    color: #222;
}

.paginator a:hover {
    background: #222;
}

.paginator a:visited {
    background: #292D32;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #292D32;
}

.selector-chosen h2 {
    background: var(--clr-brand-tertiary) !important;
    color: black !important;
}

.submit-row input.default {
    background: var(-- var(--clr-brand-primary));
    color: white;
}

.submit-row input.default {
    background: var(-- var(--clr-brand-primary));
}

.text-black {
    color: #000 !important;
}

.timelist a:active {
    background: #444;
}

.timelist a:active {
    background: #292D32;
    color: white;
}

.timelist a:hover {
    background: var(--clr-brand-tertiary) !important;
}

#user-tools a:hover {
    border: 0;
    color: #ddd;
}