:root {
	/* Default colours */
	--clr-brand-primary: #f4b0b0;
	--clr-brand-primary-lightest: #fcf4f47a;
	--clr-brand-primary-light: #ffe0e0;
	--clr-brand-primary-darker: #ce7b7b;
	--clr-brand-primary-darkest: #751818;
	--clr-brand-primary-spinner: rgba(244, 191, 191, 0.55);
	--clr-brand-secondary: #FFD9C0;
	--clr-brand-secondary-darker: #fabd95;

	--clr-brand-tertiary: #FAF0D7;

	--clr--grey: rgb(126, 132, 138);
}