@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap');

body {
	margin-top: 56px;
}

.active {
	font-weight: bold !important;
}

.alert {
	position: relative;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
	border: 1px solid transparent;
	border-radius: .35rem;
	padding: 1rem 2.5rem;
	-webkit-border-radius: .35rem;
	-moz-border-radius: .35rem;
	-ms-border-radius: .35rem;
	-o-border-radius: .35rem;
}

.alert-primary {
	background-color: var(--clr-brand-primary-light);
	color: black;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-danger {
	border-bottom-color: #dc3545 !important;
}

.arrow-dark {
	border-bottom-color: #343a40 !important;
}

.arrow-info {
	border-bottom-color: #17a2b8 !important;
}

.arrow-light {
	border-bottom-color: #f8f9fa !important;
}

.arrow-primary {
	border-bottom-color: var(--clr-brand-primary) !important;
}

.arrow-secondary {
	border-bottom-color: var(--clr-brand-secondary) !important;
}

.arrow-success {
	border-bottom-color: #28a745 !important;
}

.arrow-up {
	position: absolute;
	top: -10px;
	right: 36px;
	border-right: 4px solid transparent;
	border-bottom: 10px solid black;
	border-left: 4px solid transparent;
	height: 0;
	width: 0;
}

.arrow-warning {
	border-bottom-color: #ffc107 !important;
}

.autohide {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1010;
	width: 100%;
}

.bg-blur {
	backdrop-filter: blur(1.5rem);
}

.bg-danger {
	background-color: #dc3545 !important;
}

.bg-dark {
	background-color: #343a40 !important;
}

.bg-info {
	background-color: #17a2b8 !important;
}

.bg-light {
	background-color: #f8f9fa !important;
}

.bg-primary {
	background-color: var(--clr-brand-primary) !important;
}

.bg-primary-darker {
	background-color: var(--clr-brand-primary-darker) !important;
}

.bg-primary-light {
	background-color: var(--clr-brand-primary-light) !important;
}

.bg-primary-lightest {
	background-color: var(--clr-brand-primary-lightest) !important;
}

.bg-success {
	background-color: #28a745 !important;
}

.bg-warning {
	background-color: #ffc107 !important;
}

.border-clr-primary {
	border: solid var(--clr-brand-primary) !important;
}

.box-shadow {
	box-shadow: 0px 63px 46px -53px rgba(0, 0, 0, 0.8);
}

.brand-font {
	font-family: 'Caveat',
		sans-serif;
}

.btn {
	float: right;
}

.btn-fb {
	background-color: #3B5998;
	color: white;
}

.btn-fb:hover {
	background-color: #3b5898bf;
	color: white;
}

.btn-google {
	background-color: #dd4b39;
	color: white;
}

.btn-google:hover {
	background-color: #dd4c39c4;
	color: white;
}

.btn-primary {
	border-color: var(--clr-brand-primary-darker);
	background-color: var(--clr-brand-primary-darker);
	color: #fff;
}

.btn-primary:focus {
	border-color: var(--clr-brand-primary-darker);
	box-shadow: 0 0 0 0.25rem var(--clr-brand-primary-light);
	background-color: var(--clr-brand-primary-darker) !important;
	color: #fff;
}

.btn-primary:hover {
	border-color: var(--clr-brand-primary-darker);
	background-color: var(--clr-brand-primary-lightest);
	color: rgb(0, 0, 0);
}

.btn-secondary {
	border-color: var(--clr-brand-primary-darker);
	background-color: var(--clr-brand-secondary);
	color: rgb(0, 0, 0);
}

.btn-secondary:hover {
	border-color: var(--clr-brand-primary-darker);
	background-color: var(--clr-brand-secondary-darker);
	color: rgb(0, 0, 0);
}

.dropdown-item:active {
	background-color: var(--clr-brand-primary-darker);
	text-decoration: none;
	color: #fff;
}

.dropdown-item:hover {
	background-color: var(--clr-brand-primary-lightest);
	color: black;
}

.form-control {
	display: block;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	border: 1px solid var(--clr-brand-primary-darkest) !important;
	border-radius: .25rem;
	background-clip: padding-box;
	background-color: #fff;
	padding: .375rem .75rem;
	width: 100%;
	line-height: 1.5;
	color: #212529;
	font-size: 1rem;
	font-weight: 400;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-control:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem var(--clr-brand-primary);
	background-color: #fff;
	color: #212529;
}

.image-drop-shadow {
	filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 0.5));
}

.link-hover-primary:hover {
	color: var(--clr-brand-primary-darker) !important;
}

.logo-font-creations {
	font-family: 'Caveat',
		sans-serif;
	font-weight: 500;
	color: var(--clr-brand-primary) !important;

}

.logo-font-lkm {
	font-family: 'Caveat',
		sans-serif;
	font-weight: 700;
	color: var(--clr-brand-primary-darker) !important;

}

#mc-embedded-subscribe {
	display: block;
	clear: both;
	margin: 0;
	width: auto;
}

#mc_embed_signup {
	clear: left;
	background: #fff;
}

.modal-backdrop {
	z-index: 1030;
}

.nav-link:hover {
	color: var(--clr-brand-primary-darkest) !important;
}

.order-history-card {
	max-height: 470px;
	overflow-y: hidden;
}

.product-image-size {
	display: flex;
	justify-content: center;
	margin: auto;
	max-height: 600px;
	overflow: hidden;
	aspect-ratio: 1/1;
}

.rounded-10 {
	border-radius: 10px;
}

.rtt-button {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 30px;
	border-color: var(--clr-brand-primary-darkest);
	background-color: var(--clr-brand-primary-light);
	width: 45px;
	height: 45px;
}

.rtt-link {
	cursor: pointer;
}

.scrolled-down {
	transform: translateY(-52px);
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateY(-52px);
	-moz-transform: translateY(-52px);
	-ms-transform: translateY(-52px);
	-o-transform: translateY(-52px);
}

.scrolled-up {
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}

#shopAnnouncementModal {
	box-sizing: border-box;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -66%);
	z-index: 1100 !important;
	border: 1px solid transparent;
	border-radius: 5px;
	border-color: var(--clr-brand-primary-darkest) !important;
	box-shadow: 0px 63px 46px -53px rgb(0, 0, 0);
	background-color: white;
	width: 80vw;
	max-width: 600px;
	min-height: 100px;
	-webkit-transform: translate(-50%, -66%);
	-moz-transform: translate(-50%, -66%);
	-ms-transform: translate(-50%, -66%);
	-o-transform: translate(-50%, -66%);
}

#shopAnnouncementModal .modal-top {
	position: relative;
	width: 100%;
}

#shopAnnouncementModal .modal-top #closeBtn {
	position: absolute;
	top: 8px;
	right: 8px;
	border: 0px;
	cursor: pointer;
	padding: 4px 8px;
	color: #333;
}

#shopAnnouncementModal:hover {
	background: var(--clr-brand-primary-light);
}

#shopAnnouncementModal:hover .modal-top #closeBtn {
	background: var(--clr-brand-secondary);
}

.text-black {
	color: black !important;
}

.text-info {
	color: var(--clr-brand-primary-darker) !important;
}

.text-info:hover {
	color: var(--clr-brand-primary-darkest) !important;
}

.text-primary {
	color: var(--clr-brand-primary) !important;
}

.text-primary-darker {
	color: var(--clr-brand-primary-darker) !important;
}

.text-primary-darkest {
	color: var(--clr-brand-primary-darkest) !important;
}

/* ------------------------------- bootstrap toasts */
.toast-capper {
	height: 3px;
}

.toast-container {
	top: 72px;
	right: 15px !important;
	left: auto;
	z-index: 99999999999 !important;
	max-width: 90vw;
	position: fixed;
}

.toast-custom-toast {
	overflow: visible;
}

@media screen and (min-width: 768px) {
	body {
		margin-top: 160px;
	}
}

@media screen and (max-width: 768px) {
	.modal {
		top: 160px;
	}
}
