<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- This sets the site up to be responsive, known as a responsive design meta tag. Don't use it if your site isn't responsive! -->
<!-- width makes the page match the screen's width, and initial scale sets the CSS pixels and the device pixels to a 1:1 ratio -->
<link rel="canonical" href="#">
<!-- This tells search engines to use this URL as the main page, and that it shouldn't index other pages -->
<!-- So if you have a site with multiple URLs, they're treated as seperate sites. This messes with the SEO, so putting this in
with the correct link gives you better results, and more accuracy with data tracking -->

<!-- TODO amend theme colour -->
<!-- This is the colour of the tab in the browser, and the colour of the text in the address bar.
It's also the colour of the bar at the top of the browser when you're on a site that has a favicon. -->
<meta name="theme-color" content="#d48a8a">
<meta name="author" content="David Kitley-McNamara">
