{% load static %}
<!-- webmanifest and icons-->
<link rel="icon" type="image/png"
	href="{% static 'webmanifest/favicons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180"
	href="{% static 'webmanifest/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32"
	href="{% static 'webmanifest/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16"
	href="{% static 'webmanifest/favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'webmanifest/site.webmanifest' %}">
<link rel="mask-icon"
	href="{% static 'webmanifest/favicons/safari-pinned-tab.svg' %}"
	color="#ffe0e0">
<link rel="icon" type="image/png"
	href="{% static 'webmanifest/favicons/maskable_icon.png' %}">
<meta name="msapplication-TileColor" content="#ffe0e0">
<meta name="theme-color" content="#d48a8a">