{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description" content="{{ site_info.store_description }}">
<meta name="keywords" content="{{ site_info.store_keywords|title }}">
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}{{ request.site.name }} - Error - 403{% endblock %}
{% endblock %}
{% block content %}
<main class="col-12 mb-5 mt-3 mt-md-5">
	<div class="d-md-flex flex-md-row col-12 align-items-center">
		<div class="col-12 col-md-6">
			<div class="col-10 offset-1 rounded-10 border-1 border-clr-primary
				box-shadow p-3 align-middle">
				<h1 class="text-center">Error - 403</h1>
				<h2 class="text-center text-uppercase">Have permission to
					access this page
					you do not. Hrmmm.
				</h2>
				<p class="text-center mt-2">Correct permissions log in with to
					access
					this page you should.</p>
				<div class="text-center mt-2">If you believe you should have
					the correct permissions to access this area,
					please contact us by email, letting us know what you were
					trying to access and your username and email address<br>
					<a
						href="mailto:{{ site_info.email_address }}?subject=LKM%20Creations%20%20-%20403%20error">
						({{ site_info.email_address }})
					</a>
				</div>
			</div>
			<div class="col-12 col-md-6 order-1 order-md-2">
				<picture>
					<source srcset="{{ MEDIA_URL }}images/yoda.webp"
						type="image/webp" alt="An image of a Amigurumi Yoda"
						class="rounded
					mx-auto d-block img-fluid image-drop-shadow">
					<source srcset="{{ MEDIA_URL }}images/yoda.png"
						type="image/png" alt="An image of a Amigurumi Yoda"
						class="rounded mx-auto
					d-block img-fluid image-drop-shadow">
					<img src="{{ MEDIA_URL }}images/yoda.png"
						alt="An image of a Amigurumi Yoda" class="rounded mx-auto d-block
					img-fluid image-drop-shadow">
				</picture>
			</div>
		</div>
</main>
{% endblock %}
