{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description" content="{{ site_info.store_description }}">
<meta name="keywords" content="{{ site_info.store_keywords|title }}">
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}{{ request.site.name }} User Profile Dashboard{% endblock %}
{% block custom_page_stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
{% include "profiles/components/dashboard-nav-mobile.html" %}
{% include "profiles/components/dashboard-nav.html" %}
<main class="container pt-2 px-5 mb-3">
	<section class="text-center pt-2">
		<h1 class="mt-1 mb-3 fs-1">User Dashboard</h1>
	</section>
	<hr />
	<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<p class="mt-5 text-center fs-5 lh-lg">Welcome {{ user.first_name }}
			to
			your Dashboard,<br><br>here you can view your <a
				href="{% url "order-history" %}"
				class="fw-bold text-decoration-none text-black link-hover-primary-light">Order
				History</a>, connect
			your <a href="{% url "connections" %}"
				class="fw-bold text-decoration-none text-black link-hover-primary-light">Social
				Accounts</a> with your <span
				class="fst-italic fw-bolder">{{request.site.name}}</span>
			Account, update your <a href="{% url "profile-update" %}"
				class="fw-bolder text-decoration-none text-black link-hover-primary-light">Account
				Details</a>, or even if you feel the need <a
				href="{% url "delete-account" %}"
				class="fw-bolder text-decoration-none text-black link-hover-danger">Delete
				Your
				Account</p>
	</div>
</main>
{%endblock%}
