<!--start of product_card.html-->
<div class="card-group">
	<div id="product_card"
		class="box-shadow rounded-10 card border-1 product_card mx-2">
		<div class="card border-0 h-100 mx-2 px-1 py-2">
			<a href=" {% url 'product-detail' product.slug %}" role="button">
				<img src="{{ product.image.url }}"
					class="card-img-top product-image-size rounded-10 box-shadow"
					alt="{{ product.image_alt_text }}"
					oncontextmenu="return false;">
			</a>
			<div class="card-body">
				<a href="{% url 'product-detail' product.slug %}"
					class="text-decoration-none text-black">
					<h5 class="card-title">{{ product.name|title }}</h5>
					{% if product.sale_price %}
					<p class="lead mb-0 text-left fw-bolder"><s
							class="text-danger small">
							was £{{ product.retail_price }} </s>&nbsp;&nbsp;
						<br>
						<span class="fw-bold">now
							£</span><span
							class="fw-bold fs-5">{{ product.sale_price }}</span>
					</p>
					{% else %}
					<p class="lead mb-0 text-left fw-bold fs-5">
						£{{ product.retail_price }}</p>
					{% endif %}
				</a>
			</div>
			<div class="card-footer border-0 bg-white">
				{% if product.category %}
				<p class="small mt-1 mb-0 text-left">
					<a class="text-muted"
						href="/store/category/{{ product.category.slug }}">
						<i class="fs-5 bi bi-tags-fill"></i>
						{{ product.category.name }}</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!--end of product_card.html-->
