<!--start of product_card.html-->
<div class="card-group my-3">
	<div id="product_card-sku-{{ product.sku }}"
		class="box-shadow rounded-10 card border-1 product_card mx-2">
		<div class="card border-0 h-100 mx-2 px-1 py-2">
			<a href="{% url 'product-detail' product.slug %}" role="button">
				<picture>
					<source srcset="{{ product.image_preferred.url }}"
						type="image/webp">
					<source srcset="{{ product.image.url }}" type="image/jpeg">
					<img src="{{ product.image.url }}"
						onerror="this.src='{{ MEDIA_URL }}images/default/default_image.png'"
						alt="{{ product.image_alt_text }}" class="card-img-top product-image-size
						rounded-10 box-shadow" oncontextmenu="return false;">
				</picture>


			</a>
			<div class="card-body">
				<a href="{% url 'product-detail' product.slug %}"
					class="text-decoration-none text-black">
					<p class="card-title fs-5">{{ product.name|title }}</p>
					{% if product.sale_price %}
					<p class="lead mb-0 text-left fw-bolder"><s
							class="text-danger small">
							was £{{ product.retail_price }} </s>&nbsp;&nbsp;
						<br>
						<span class="fw-bold">now
							£</span><span
							class="fw-bold fs-5">{{ product.sale_price }}</span>
					</p>
					{% else %}
					<p class="lead mb-0 text-left fw-bold fs-5">
						£{{ product.retail_price }}</p>
					{% endif %}
				</a>
			</div>
			<div class="card-footer border-0 bg-white">
				<div class="row">
					{% if product.get_review_average_rating > 0 %}
					<p>
						{% if product.get_review_average_rating >= 1 %}
						<i class="text-warning fa fa-star"></i>
						{% else %}
						<i class="text-muted fa fa-star"></i>
						{% endif %}
						{% if product.get_review_average_rating >= 2 %}
						<i class="text-warning fa fa-star"></i>
						{% else %}
						<i class="text-muted fa fa-star"></i>
						{% endif %}
						{% if product.get_review_average_rating >= 3 %}
						<i class="text-warning fa fa-star"></i>
						{% else %}
						<i class="text-muted fa fa-star"></i>
						{% endif %}
						{% if product.get_review_average_rating >= 4 %}
						<i class="text-warning fa fa-star"></i>
						{% else %}
						<i class="text-muted fa fa-star"></i>
						{% endif %}
						{% if product.get_review_average_rating >= 5 %}
						<i class="text-warning fa fa-star"></i>
						{% else %}
						<i class="text-muted fa fa-star"></i>
						{% endif %}
					</p>
					{% endif %}
				</div>
				<div class="d-flex justify-content-between">
					<div class="align-self-end">
						{% if product.category %}<p
							class="small mt-1 mb-0 text-start">
							<a class="text-muted"
								href="/store/category/{{ product.category.slug }}">
								<svg class="me-2"
									xmlns="http://www.w3.org/2000/svg"
									width="24" height="24" fill="currentColor"
									viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
									</path>
								</svg>{{ product.category.name }}</a>
						</p>
						{% endif %}
					</div>
					<div class="align-self-end">
						<p class="small mt-1 mb-0 text-muted text-end">
							{% if product.inventory > 1 %}
							{% if product.inventory < 4 %}
							Only {% endif %}
							{{ product.inventory }} Available</p>
						{% else %}
						<span class="text-danger fw-bolder">Last One
							Available</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end of product_card.html-->