{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description"
	content="{{ request.site.name }} Shop Category {{ category.name|title }}">
<meta name="keywords" content="{{category.category_keywords|title }}">
<meta name="robots" content="index, follow">
{% endblock %}
{% block title %}{{ request.site.name }} Shop Category
{{ category.name|title }}{% endblock %}
{% block content %}
<main class="mb-5 px-3">
	{% include "store/components/sort_by_bar.html" %}
	<section class="col-md-12 text-center pt-2">
		<h2 class="my-3 fs-3">These are all our
			{{ category.name|title }} products</h2>
	</section>
	<div class="mt-3 col-md-10 offset-md-1 row row-cols-1 row-cols-md-2 row-cols-lg-3
		g-5">
		{% for product in products_page_obj %}
		{% include "store/components/product_card.html" %}
		{% endfor %}
	</div>
	{% include "store/components/product_pagination_nav.html" %}

</main>
{%endblock%}