{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description" content="Purchase as a gift our {{ product.name|title}} -
	{{ product.description|title|striptags|safe|truncatechars:100 }}">
<meta name="keywords" content="{{ product.keywords|title }}, {{ product.category|title }},
	{{ product.name|title }}">
<meta name="robots" content="index, follow">
<!-- linkedIn additional metadata -->
<meta property='og:title' content='{{ product.name|title }}' />
<meta name="image" property="og:image" content="{{ product.image.url }}">
<meta property='og:description'
	content='{{ product.name|title }} - {{ product.description }}' />
<meta property='og:url' content='{{ request.build_absolute_uri }}' />
{% endblock %}
{% block title %}{{ request.site.name }} Shop - Product -
{{ product.name|title }}
{% endblock %}
{% block custom_page_stylesheet %} {% endblock %}
{% block content %}
<main class="px-3">
	<div class="row">
		<div class="col-10 offset-1 col-md-4 col-lg-4 offset-lg-2">
			<div class="image-container my-5">
				{% if product.image.url %}
				<a>
					<img class="img-fluid mx-auto d-block product-image-size
							rounded-10 box-shadow" src="{{ product.image.url }}"
						alt="{{ product.image_alt_text }}"
						oncontextmenu="return false;">
				</a>
				{% else %}
				<a href="#">
					<img class="img-fluid mx-auto d-block product-image-size
							rounded-10 box-shadow" src="{{ MEDIA_URL }}images/default_image.png"
						alt="{{ product.name|title }}">
				</a>
				{% endif %}
			</div>

			<div>
				<p class="logo-font-lkm fs-3 mt-0 mb-0">Share via
				</p>
			</div>
			<div class="d-flex flex-row justify-content-around mt-0">
				<div class="p-2">
					<a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}"
						target="_blank">
						<i class="fab fa-facebook social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text=Check%20out%20this:%20{{ product.name|title|urlencode }}"
						target="_blank">

						<i class="fab fa-twitter social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="https://pinterest.com/pin/create/bookmarklet/?media={{ product.image.url }}&url={{ request.build_absolute_uri }}&description=Check%20out%20this:%20{{ product.name|title|urlencode }}"
						target="_blank">
						<i class="fab fa-pinterest social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title=Check%20out%20this:%20{{ product.name|title|urlencode }}"
						target="_blank">
						<i class="fab fa-linkedin social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="mailto:??subject=Check%20out%20this%20{{ product.name|title|urlencode }}%20I've%20just%20seen&body=I%20absolutely%20love%20this%20{{ product.name|title|urlencode }},%0D%0Acheck%20it%20out%20here%20{{ request.build_absolute_uri }}"
						target="_blank">
						<i class="fa fa-envelope social-share-btn fs-3"
							aria-hidden="true"></i></a>

				</div>
			</div>
		</div>
		<div class="col-10 offset-1 col-md-5 col-lg-4">
			<div class="mb-5 mt-md-5">
				<h1 id="product_name" class="mb-0 fs-2 fw-bold mb-1">
					{{ product.name|title }}
				</h1>
				<div class="align-self-end">
					<p class="small mt-1 mb-0 text-muted text-start">
						{% if product.inventory > 1 %}
						{% if product.inventory < 4 %}
						Only {% endif %}
						{{ product.inventory }} Available</p>
					{% else %}
					<span class="text-danger fw-bolder">Last One
						Available</span>
					{% endif %}
				</div>
				<form class="form"
					action="{% url 'add_to_basket' product.id %}"
					method="POST">
					{% csrf_token %}
					<div id="add_to_basket" class="col-12 my-2">
						<div class="row">
							<div class="col-12">
								<p class="mt-3"><strong>Quantity:</strong>
								</p>
								<div class="form-group">
									<input id="id_qty_{{ product.id }}"
										data-item_id="{{ product.id }}"
										class="form-control qty_input"
										type="number" name="quantity" value="1"
										min="1" max="{{ product.inventory }}">
								</div>
							</div>
							<div class="d-grid gap-3 col-12 my-3">
								<a class="btn btn-outline-secondary text-uppercase"
									href="{% url 'products' %}">
									<i class="fs-5 bi bi-chevron-left">&nbsp;
									</i> Keep Shopping</a>
								<button type="submit" id="add_to_basket_btn"
									value="Add to Basket"
									class="btn btn-primary text-uppercase">Add to
									Basket <i
										class="fs-5 bi bi-cart-plus"></i></button>
							</div>
							<input type="hidden" name="redirect_url"
								value="{{ request.path }}">
						</div>
						{% if product.sale_price %}
						<p
							class=" lead mb-0 text-left fw-bolder text-danger fst-italic">
							<s>
								was £<span
									class="fs-5">{{ product.retail_price }}</span></s>
						</p>
						<p class="lead mb-0 text-left fw-bolder"><span
								class="fst-italic">now only</span> £<span
								class="fs-3">{{ product.sale_price }}
							</span></p> {% else %} <p
							class="lead mb-0 text-left fw-bolder">
							£<span class="fs-3">{{ product.retail_price }}
							</span></p> {% endif %} <h2
							class="lead mb-0 text-left fw-bolder mt-3">
							Description</h2>
						<p>{{ product.description }}</p>
						{% if product.size %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Size: <span
								class="fw-normal fs-6">{{ product.size }}</span>
						</p>
						{% endif %}
						{% if product.weight %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Weight:<span class="fw-normal fs-6">
								{{ product.weight|floatformat }}
								grams</span>
						</p>
						{% endif %}
						{% if product.is_washable %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Washing instructions:<span class="fw-normal fs-6">
								{{ product.wash_instructions}}</span>
						</p>
						{% endif %}
						{% if product.care_instructions %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Care instructions:<span class="fw-normal fs-6">
								{{ product.care_instructions}}</span>
						</p>
						{% endif %}
						{% if product.sku %}
						<p class=" mb-0 text-start fw-bolder mt-1 fs-6">
							SKU:<span class="fw-normal fs-6">
								{{ product.sku }}</span>
						</p>
						{% endif %}
						{% if product.category.name %}
						<p class="small mt-1 mb-0">
							<a class="text-muted"
								href="/store/category/{{ product.category.slug }}">
								<i class="fs-5 bi bi-tags-fill"></i>
								{{ product.category.name }}</a>
						</p>
						{% endif %}

					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{%endblock%}
