{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<meta name="description" content="Purchase as a gift our {{ product.name|title}} -
	{{ product.description|title|striptags|safe|truncatechars:100 }}">
<meta name="keywords" content="{{ product.keywords|title }}, {{ product.category|title }},
	{{ product.name|title }}">
<meta name="robots" content="index, follow">
<!-- linkedIn additional metadata -->
<meta property='og:title' content='{{ product.name|title }}' />
<meta name="image" property="og:image" content="{{ product.image.url }}">
<meta property='og:description'
	content='{{ product.name|title }} - {{ product.description }}' />
<meta property='og:url' content='{{ request.build_absolute_uri }}' />
{% endblock %}
{% block title %}{{ request.site.name }} Product -
{{ product.name|title }}
{% endblock %}
{% block google_rich_json %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "Product",
		"name": "{{ product.name|title }}",
		"image": [
			"https://lkm-creations.s3.eu-west-2.amazonaws.com{{ product.image.url }}"
		],
		"description": "{{ product.description }}",
		"sku": "{{ product.sku }}",
		"brand": {
			"@type": "Brand",
			"name": "LKM-Creations"
		},
		"review": {
			"@type": "Review",
			"reviewRating": {
				"@type": "Rating",
				"ratingValue": "{{ lastreview.rating }}",
				"bestRating": "{{ product.get_review_highest_rating }}"
			},
			"author": {
				"@type": "Person",
				"name": "{{ lastreview.created_by }}"
			}
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "{{ product.get_review_average_rating }}",
			"reviewCount": "{{ product.get_review_count }}"
		},
		"offers": {
			"@type": "Offer",
			"url": "https://{{ request.site.domain }}/store/{{ product.slug }}",
			"priceCurrency": "GBP",
			"price": "{{ product.retail_price}}",
			"itemCondition": "https://schema.org/NewCondition",
			"availability": "https://schema.org/InStock"
		}
	}
</script>
{% endblock %}
{% block content %}
<main class="px-3">
	<div class="row">
		<div class="col-10 offset-1 col-md-4 col-lg-4 offset-lg-1">
			<div class="image-container mt-5 mb-3">
				<picture>
					<source srcset="{{ product.image_preferred.url }}"
						type="image/webp">
					<source srcset="{{ product.image.url }}" type="image/jpeg">
					<img src="{{ product.image.url }}"
						alt="{{ product.image_alt_text }}" class="img-fluid mx-auto d-block
						product-image-size rounded-10 box-shadow" oncontextmenu="return false;">
				</picture>

			</div>
			<div>
				<p class="logo-font-lkm fs-3 mt-0 mb-0">
					Share via
				</p>
			</div>
			<div class="d-flex flex-row justify-content-around mt-0">
				<div class="p-2">
					<a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}"
						target="_blank" aria-label="Share on Facebook">
						<i class="fab fa-facebook social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text=Check%20out%20this:%20{{ product.name|title|urlencode }}"
						target="_blank" aria-label="Share on Twitter">
						<i class="fab fa-twitter social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="https://pinterest.com/pin/create/bookmarklet/?media={{ product.image.url }}&url={{ request.build_absolute_uri }}&description=Check%20out%20this:%20{{ product.name|title|urlencode }}"
						target="_blank" aria-label="Share on Pinterest">
						<i class="fab fa-pinterest social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title=Check%20out%20this:%20{{ product.name|title|urlencode }}"
						target="_blank" aria-label="Share linkedin">
						<i class="fab fa-linkedin social-share-btn fs-3"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="p-2">
					<a href="mailto:??subject=Check%20out%20this%20{{ product.name|title|urlencode }}%20I've%20just%20seen&body=I%20absolutely%20love%20this%20{{ product.name|title|urlencode }},%0D%0Acheck%20it%20out%20here%20{{ request.build_absolute_uri }}"
						target="_blank" aria-label="Share via email">
						<i class="fa fa-envelope social-share-btn fs-3"
							aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="d-none d-md-block">
				<div>
					<p class="fs-3 mt-3 mb-0">
						<span class="logo-font-lkm">Reviews</span>
						<button data-bs-toggle="modal"
							{% if request.user.is_authenticated %}
							data-bs-target="#leaveAReviewModal" {% else %}
							data-bs-target="#logInModal" {% endif %}
							aria-expanded="false"
							class="btn btn-primary w-100">
							{% if not request.user.is_authenticated %}Sign In
							to leave
							a review{%else%}leave a review {%endif%}
						</button>
					</p>
				</div>
				<div class="mt-5">

					{% for review in product.reviews.all reversed %}
					{% include "store/components/reviews.html" %}
					{% endfor %}
					{% if product.get_review_count < 1 %}
					<p class="text-muted small">This product is yet to be
						reviewed.</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-10 offset-1 col-md-5 col-lg-5">
			<div class="mb-5 mt-md-5">
				<h1 id="product_name" class="mb-0 fs-2 fw-bold mb-1">
					{{ product.name|title }}{% if user.is_staff %}
					<span class="fs-6">
						<a href="{% url 'product-update' product.slug %}">
							<i class="far fa-edit text-danger ms-2"
								title="Click to edit product"></i></a>
						<a href="#" role="button" data-bs-toggle="modal"
							data-bs-target="#deleteProductModal"
							aria-expanded="false">
							<i class="fas fa-trash-alt text-danger ms-2"
								title="Click to delete product"></i>
						</a>
					</span>
					{% endif %}
				</h1>
				{% if product.get_review_average_rating > 0 %}
				<p>Product Rating:
					{% if product.get_review_average_rating >= 1 %}
					<i class="text-warning fa fa-star"></i>
					{% else %}
					<i class="text-muted fa fa-star"></i>
					{% endif %}
					{% if product.get_review_average_rating >= 2 %}
					<i class="text-warning fa fa-star"></i>
					{% else %}
					<i class="text-muted fa fa-star"></i>
					{% endif %}
					{% if product.get_review_average_rating >= 3 %}
					<i class="text-warning fa fa-star"></i>
					{% else %}
					<i class="text-muted fa fa-star"></i>
					{% endif %}
					{% if product.get_review_average_rating >= 4 %}
					<i class="text-warning fa fa-star"></i>
					{% else %}
					<i class="text-muted fa fa-star"></i>
					{% endif %}
					{% if product.get_review_average_rating >= 5 %}
					<i class="text-warning fa fa-star"></i>
					{% else %}
					<i class="text-muted fa fa-star"></i>
					{% endif %}
					<span class="small text-muted">
						({{ product.get_review_count }}
						{% if product.get_review_count > 1 %} reviews{% else %}
						review{% endif %})
					</span>
				</p>
				{% else %}
				<p class=" text-muted small">This product is yet to be
					reviewed.</p>
				{% endif %}
				<div class="align-self-end">
					<p class="small mt-1 mb-0 text-muted text-start">
						{% if product.inventory > 1 %}
						{% if product.inventory < 4 %}
						Only {% endif %}
						{{ product.inventory }} Available</p>
					{% else %}
					<span class="text-danger fw-bolder">Last One
						Available</span>
					{% endif %}
				</div>
				<form class="form"
					action="{% url 'add_to_basket' product.id %}"
					method="POST">
					{% csrf_token %}
					<div id="add_to_basket" class="col-12 my-2">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label for="id_qty_{{ product.id }}"
										class="mt-3 mb-1"><strong>Quantity:</strong></label>
									<input id="id_qty_{{ product.id }}"
										data-item_id="{{ product.id }}"
										class="form-control qty_input"
										type="number" name="quantity" value="1"
										min="1" max="{{ product.inventory }}">
								</div>
							</div>
							<div class="d-grid gap-3 col-12 my-3">
								<a href="{% url 'products' %}"
									class="btn btn-outline-secondary text-uppercase">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="24" height="24"
										fill="currentColor"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0
											1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
									</svg> Keep Shopping</a>
								<button type="submit" id="add_to_basket_btn"
									value="Add to Basket"
									class="btn btn-primary text-uppercase">Add
									to
									Basket</button>
							</div>
							<input type="hidden" name="redirect_url"
								value="{{ request.path }}">
						</div>
						{% if product.sale_price %}
						<p
							class=" lead mb-0 text-left fw-bolder text-danger fst-italic">
							<s>
								was £<span
									class="fs-5">{{ product.retail_price }}</span></s>
						</p>
						<p class="lead mb-0 text-left fw-bolder">
							<span class="fst-italic">now
								only</span>
							£<span class="fs-3">{{ product.sale_price }}
							</span></p> {% else %} <p
							class="lead mb-0 text-left fw-bolder">
							£<span class="fs-3">{{ product.retail_price }}
							</span></p> {% endif %} <h2
							class="lead mb-0 text-left fw-bolder mt-3">
							Description</h2>
						<p>{{ product.description }}</p>
						{% if product.size %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Size: <span
								class="fw-normal fs-6">{{ product.size }}</span>
						</p>
						{% endif %}
						{% if product.weight %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Weight:<span class="fw-normal fs-6">
								{{ product.weight|floatformat }}
								grams</span>
						</p>
						{% endif %}
						{% if product.is_washable %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Washing instructions:<span class="fw-normal fs-6">
								{{ product.wash_instructions}}</span>
						</p>
						{% endif %}
						{% if product.care_instructions %}
						<p class="lead mb-0 text-left fw-bolder mt-2 fs-5">
							Care instructions:<span class="fw-normal fs-6">
								{{ product.care_instructions}}</span>
						</p>
						{% endif %}
						{% if product.sku %}
						<p class=" mb-0 text-start fw-bolder mt-1 fs-6">
							SKU:<span class="fw-normal fs-6">
								{{ product.sku }}</span>
						</p>
						{% endif %}
						{% if product.category.name %}
						<p class="small mt-1 mb-0">
							<a href="/store/category/{{ product.category.slug }}"
								class="text-muted">
								<svg class="me-2"
									xmlns="http://www.w3.org/2000/svg"
									width="24" height="24" fill="currentColor"
									viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
									</path>
								</svg>{{ product.category.name }}</a>
						</p>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="d-xs-block d-md-none">
		<div>
			<p class="fs-3 mt-3 mb-0">
				<span class="logo-font-lkm">Reviews</span>
				<button data-bs-toggle="modal"
					{% if request.user.is_authenticated %}
					data-bs-target="#leaveAReviewModal" {% else %}
					data-bs-target="#logInModal" {% endif %}
					aria-expanded="false" class="btn btn-primary">
					{% if not request.user.is_authenticated %}Sign In to leave
					a review{%else%}leave a review {%endif%}
				</button>
			</p>
		</div>
		{% for review in product.reviews.all reversed %}
		{% include "store/components/reviews.html" %} {% endfor %}
		{% if product.get_review_count < 1 %} <p class="text-muted small">This
			product is yet to be
			reviewed.</p>
		{% endif %}
	</div>
	<!-- Delete Product Modal -->
	<div class="modal fade" id="deleteProductModal" tabindex="-1"
		aria-labelledby="deleteProductModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content ">
				<div class="modal-header">
					<h4 class="modal-title text-danger fw-bold fs-2 text-center"
						id="deleteProductModalLabel">WARNING</h4>
					<button type="button" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want delete the product:
						{{ product.name|title}}?<br>and all associated
						data.
					</p>
					<p>This action cannot be undone.</p>
					<p>You should consider setting the product as inactive
						instead
						of deleting it. here <span class="fs-5">
							<a href="{% url 'product-update' product.slug %}">
								<i class="far fa-edit text-danger"
									title="Click to edit product"></i></a></span>
					</p>
					<form method="post"
						action="{% url 'product-delete' product.slug %}?next={{ request.path }}">
						{% csrf_token %}
						<div class="modal-footer">
							<div
								class="col-12 d-grid gap-2 d-md-flex justify-content-md-end mt-3">
								<a href="/store/{{product.slug}}" class="btn btn-success
				text-uppercase">Cancel</a>
								<button type="submit" class="btn btn-danger text-uppercase
                text-uppercase">submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END of Delete Product Modal -->
	<!-- Leave a Review Modal -->
	<div class="modal fade" id="leaveAReviewModal" tabindex="-1"
		aria-labelledby="leaveAReviewModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content ">
				<div class="modal-header">
					<h4 class="modal-title fw-bold fs-2 text-center"
						id="leaveAReviewModalLabel">Leave a review</h4>
					<button type="button" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<p class="mt-3 bold text-primary-darkest strong fs-5">
							Post
							a
							review for
							the {{product.name}}</p>
						<form method="POST" enctype="multipart/form-data"
							action="." class="mb-5">
							{% csrf_token %}
							<div class="form-floating mt-3">
								<select class="form-select" id="ProductRating"
									aria-label="Product Rating label"
									name="rating">
									<option value="1">
										&#10029;&#10025;&#10025;&#10025;&#10025;
									</option>
									<option value="2">
										&#10029;&#10029;&#10025;&#10025;&#10025;
									</option>
									<option value="3">
										&#10029;&#10029;&#10029;&#10025;&#10025;
									</option>
									<option value="4">
										&#10029;&#10029;&#10029;&#10029;&#10025;
									</option>
									<option value="5" selected>
										&#10029;&#10029;&#10029;&#10029;&#10029;
									</option>
								</select>
								<label for="ProductRating"
									class="review-enter-content">Select a
									Product
									Star Rating</label>
							</div>
							<div class="form-floating mt-3 mb-2">
								<textarea
									class="form-control review-enter-content pt-5"
									placeholder="Leave a Review here"
									id="lastreviewTextarea" name="content"
									aria-label="Enter a Product Review here"></textarea>
								<label
									for="lastreviewTextarea">{% if not request.user.is_authenticated %}Please
									sign in to leave a review.
									{% else %}Submit a review of your
									purchase
									here.{% endif %} </label>
							</div>
							<div>
								<label for="image" class="form-label">Upload an
									image</label>
								<input class="form-control form-control-sm"
									id="image" type="file" name="image"
									accept="image/*">
							</div>
							<div class="mt-3 mb-5">
								<span class="d-inline-block float-end"
									tabindex="0" data-toggle="tooltip"
									title="Please Sign In to submit a review">
									<input type="submit"
										class="btn btn-primary mb-5"
										{% if request.user.is_authenticated %}
										{% else %} disabled {% endif %}>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END of leave a review Modal -->
</main>
{%endblock%}
