{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="text-center">{% trans "Sign In" %}</h2>
<hr class="mb-5">
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="d-grid gap-2 col-12 mt-3">
    <a class="btn btn-outline-secondary text-uppercase"
      href="{% url 'home:home' %}">Home</a>
    <button class="btn btn-primary text-uppercase"
      type="submit">{% trans "Sign In" %}</button>

  </div>
  <p class="mt-2">
    <a class="button secondaryAction flex-end"
      href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>


<p class="text-center"> Or Login with your Social Media
  account</p>
<div class="d-flex flex-row justify-content-evenly mt-1">
  <div class="mt-2">
    <a href="{% provider_login_url "facebook" method="oauth2" %}"
      class="btn btn-fb">
      <i class="bi bi-facebook"></i>&nbsp;Login
      with Facebook
    </a>
  </div>

  <div class="mt-2">
    <a href="{% provider_login_url "google" method="oauth2" %}"
      class="btn btn-google">
      <i class="bi bi-google"></i>&nbsp;Login
      with Google+
    </a>
  </div>
</div>


{% endblock %}
