{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="mb-4">{% trans "Sign Out" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="d-flex justify-content-end gap-3">
    <a class="btn btn-secondary flex-end"
      href="{% url 'home:home' %}">Cancel</a>
    <button class="btn btn-primary flex-end"
      type="submit">{% trans 'Sign Out' %}</button>
  </div>
</form>


{% endblock %}