{% extends "base.html" %}
{% load static %}
{% load calc_item_subtotal %}
{% block metadescription %}
<meta name="description" content="{{ site_info.store_description }}">
<meta name="keywords" content="{{ site_info.store_keywords|title }}">
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}{{ request.site.name }} - Checkout{% endblock %}
{% block custom_page_stylesheet %}
<!-- Local CSS-->
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
<link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock %}
{% block content %}
<main class="mb-5 mt-3 mt-md-5 px-3">
	<div class="container">
		<div
			class="col-12 col-md-10 offset-md-1 p-3 p-md-5 bg-white border rounded-10 box-shadow">
			<section class="col-12 text-center pt-2">
				<h1 class="mb-5 fs-1">Checkout</h1>
			</section>
			{% if basket.basketsubtotal == 0 %}
			<div class="row ">
				<div class="col-12">
					<hr class="mx-3">
					<h3 class="text-center">Your basket is empty</h3>
					<hr class="mx-3">
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-12 col-lg-6 order-lg-last mb-5">
					<h2 class="text-muted fw-bolder fs-6 text-center">Order
						Summary <span class="small">

							({{ total_quantity }}) items</span>
					</h2>
					{% for item in basket_items %}
					<div class="row">
						<div class="col-3 mb-1 h-100 ">

							<a href="{% url 'product-detail' item.product.slug %}"
								target="_blank">
								<picture>
									<source
										srcset="{{ item.product.image_preferred.url }}"
										type="image/webp">
									<source
										srcset="{{ item.product.image.url }}"
										type="image/jpeg">
									<img src="{{ item.product.image.url }}"
											alt="{{ item.product.image_alt_text }}"
										class="img-fluid mx-auto d-block
		product-image-size rounded-10 box-shadow">
								</picture>



							</a>
						</div>
						<div class="col-9">
							<p class="my-0">
								<strong>{{ item.product.name|title }}</strong>
							</p>
							<div class="d-none d-md-block">
								<p
									class="text-center text-md-start fst-italic small text-muted">
									{{ item.product.description|title|striptags|safe|truncatechars:45}}
								</p>
							</div>
							<div class="col-12 d-flex justify-content-between">
								<div class="d-inline-flex">
									<p class="small text-muted text-start">
										Qty:
										{{item.quantity}}
									</p>
								</div>
								<div class="d-inline-flex">
									<p class="small text-end text-muted">
										£{{ item.unit_price | calc_item_subtotal:item.quantity }}
									</p>
								</div>
							</div>
						</div>
						<hr class="my-2">
					</div>
					{% endfor %}
					<div class="row text-black text-end">
						<div class="col-7 offset-2">
							<p class="my-0">Order Subtotal:</p>
							<p class="my-0">Delivery:</p>
							<p class="my-0">Grand Total:</p>
						</div>
						<div class="col-3 text-end">
							<p class="my-0 text-end">
								£{{ subtotal|floatformat:2}}
							</p>
							{% if subtotal > site_info.free_delivery_over %}
							<p class="my-0 text-muted text-end">£0.00</p>
							{% else %}
							<p class="my-0 text-end">
								£{{ delivery_charge|floatformat:2}}
							</p>
							{% endif %}
							<p class="my-0 text-end bold">
								£{{ grand_total|floatformat:2}}
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<p class="text-muted">Please fill out the form below to
						complete your order</p>
					<form action="{% url "checkout" %}" method="POST"
						id="payment-form">
						{% csrf_token %}
						<fieldset class="rounded px-3 mb-5">
							<legend
								class="fieldset-label fw-bolder fs-5 text-black px-2 w-auto">
								Receipient Details</legend>
							{% load crispy_forms_tags %}
							{{ order_form.full_name | as_crispy_field }}
							{{ order_form.email | as_crispy_field }}
							{{ order_form.phone_number | as_crispy_field }}
						</fieldset>
						<fieldset class="rounded px-3 mb-5">
							<legend
								class="fieldset-label fw-bolder fs-5 text-black px-2 w-auto">
								Delivery Address</legend>
							{{ order_form.street_address1 | as_crispy_field }}
							{{ order_form.street_address2 | as_crispy_field }}
							{{ order_form.town_or_city| as_crispy_field }}
							{{ order_form.county | as_crispy_field }}
							{{ order_form.postcode | as_crispy_field }}
							{{ order_form.country | as_crispy_field }}
							<div
								class="form-check form-check-inline float-right mr-0">
								{% if user.is_authenticated %}
								<label class="form-check-label"
									for="id-save-info">Save
									this delivery information to my
									profile</label>
								<input class="form-check-input ml-2 mr-0"
									type="checkbox" id="id-save-info"
									name="save-info" checked>
								{% else %}
								<label class="form-check-label"
									for="id-save-info">
									<a class="text-info"
										href="{% url 'account_signup' %}">Create
										an account</a> or
									<a class="text-info"
										href="{% url 'account_login' %}">login</a>
									to save this information
								</label>
								{% endif %}
							</div>
						</fieldset>
						<fieldset class="px-3">
							<legend
								class="fieldset-label fw-bolder fs-5 text-black px-2 w-auto">
								Payment</legend>
							<!-- A Stripe card element will go here -->
							<div class="mb-3" id="card-element"></div>
							<!-- Used to display form errors -->
							<div class="mb-3 text-danger" id="card-errors"
								role="alert">
							</div>
							<!-- Pass the client secret to the view so we can get the payment intent id -->
							<input type="hidden" value="{{ client_secret }}"
								name="client_secret">
							<p class="small text-danger my-0 text-end">
								<span class="icon">
									<i class="fas fa-exclamation-circle"></i>
								</span>
								<span>Your card will be charged
									<strong>£{{ grand_total | floatformat:2 }}</strong></span>
							</p>
							<input type="hidden" value="{{ client_secret }}"
								name="client_secret">
						</fieldset>
						<div class="d-grid gap-2 col-12">
							<button id="submit-button"
								class="btn btn-primary text-uppercase">
								<span class=" font-weight-bold">Complete
									Order</span>
								<span class="icon">
									<i class="fas fa-lock"></i>
								</span>
							</button>
							<a href="{% url "summary" %}"
								class="btn btn-outline-secondary text-uppercase">
								<span class="icon">
									<i class="fas fa-chevron-left"></i>
								</span>
								<span class="font-weight-bold">Adjust
									basket</span>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<div id="loading-overlay">
	<p class="text-light fs-6 logo-font loading-spinner">
		<span class="icon">
			<i class="fas fa-3x fa-sync-alt fa-spin"></i>
		</span>
	</p>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}
