{% extends "base.html" %}
{% load static %}
{% block metadescription %}
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- IMPORTANT NOTE - Anywhere there are capitalised words inside "", you should replace these with your own information -->
<!-- IMPORTANT NOTE - Anywhere there are # inside "", you should replace these with your own links !!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- SEO win meta tags -->
<meta name="description" content="DESCRIPTION">
<!-- Each page should have a unique description. Page, not site. -->
<!-- Length can be up to 160 characters on desktop, 130 characters on mobile -->
<!-- You can have up to 158 description tags (although generally you won't need more than one per page) -->
<!-- Add a clear call to action, don't duplicate descriptions, include keywords, discounts, or offers if you're selling something -->
<meta name="keywords" content="KEYWORDS">
<!-- These are the keywords that your site can be searched with on Google -->
<!-- Make these single words, relevant to your site, often searched -->
<meta name="robots" content="index, follow">
<!-- This tells search engines to index and follow this webpage. This is good for site crawlers like Google and Bing -->
<!-- noindex, nofollow is the opposite -->
<!-- Set it to noindex, nofollow for 'thin' pages (pages that don't have much information), where you don't want Google or
Bing to judge your site based on that content -->
{% endblock %}
{% block title %}LKM Creations - Checkout Success{% endblock %}
<!-- This is what will display in the tab at the top of a user's browser window -->
<!-- Title should be less than 60 characters -->
<!-- Unique title on every page, don't repeat yourself -->
<!-- Use words to indicate site function, use keywords with 4+ words, this should be your main keyword -->
<!-- Title can be changed to get the user's attention! 'Please come back, we miss you!', 'You have a new notification!' -->
{% block custom_page_stylesheet %}
<!-- Local CSS-->
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
{% endblock %}
{% block content %}
<main class="mb-5 mt-3 mt-md-5">
    <div class="container">
        <div class="col-12 p-3 p-md-5 ">
            <section class="col-12 text-center pt-2">
                <h1 class="mb-5 fs-2">Thank you for your purchase!</h1>
            </section>
            <section class="col-12 text-center pt-2">
                <h2 class="mb-5 fs-3">"Your order was successfully processed!
                </h2>
                <p>An email of confirmation has been sent to {{order.email}}.
                </p>
                <p>Your order details are below:</p>
            </section>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 col-lg-2">
                <p class="fw-bold">Order Number:</p>
            </div>
            <div class="col-9 col-md-3 col-lg-4 text-sm-end text-md-start">
                <p>{{order.order_number}}</p>
            </div>
            <div class="col-3 col-md-2 col-lg-2">
                <p class="fw-bold">Order Date:</p>
            </div>
            <div class="col-9 col-md-4 col-lg-4 text-sm-end text-md-start">
                <p>{{order.order_date}}</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-12">
                <p class="fw-bold fs-4 text-md-center">Order Details:</p>
            </div>
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-2 col-md-1 d-inline-flex">
                <p class="fw-bolder">Qty</p>
            </div>
            <div class="col-7 d-inline-flex">
                <p class="fw-bolder">Product Name</p>
            </div>
            <div class="col-2 d-inline-flex d-none d-md-block">
                <p class="fw-bolder text-sm-end">Price</p>
            </div>
            <div class="col-3 col-md-2 d-inline-flex">
                <p class="fw-bolder text-sm-end"> Total</p>
            </div>
        </div>
        {% for item in order.lineitems.all %}
        <div class="row d-flex px-2">
            <div class="col-2 col-md-1 d-inline-flex">
                <p>{{ item.quantity }}</p>
            </div>
            <div class="col-7 d-inline-flex">
                <p>
                    {{item.product.name|title }} <span
                        class="small text-muted d-none d-md-block">
                        (sku: {{item.product.sku }})</span>
                </p>
            </div>
            <div class="col-2 d-inline-flex d-none d-md-block">
                <p class="text-sm-end "> £{{ item.unit_price }}</p>
            </div>
            <div class="col-3 col-md-2 d-inline-flex">
                <p class="text-sm-end">£{{ item.lineitem_total }}</p>
            </div>
            <hr class="mt1 w-80 text-center">
        </div>
        {% endfor %}
        <div class="d-flex px-2">
            <div class="col-4 col-md-3 offset-5 offset-md-7 d-inline-flex">
                <p class="text-sm-end">Subtotal:</p>
            </div>
            <div class="col-3 col-md-2 d-inline-flex">
                <p class="fw-bolder text-sm-end">
                    £{{ order.order_subtotal }}</p>
            </div>
        </div>
        <div class="d-flex px-2">
            <div class="col-4 col-md-3 offset-5 offset-md-7 d-inline-flex">
                <p class="text-sm-end">Delivery:</p>
            </div>
            <div class="col-3 col-md-2 text-sm-end d-inline-flex">
                <p class="fw-bolder text-sm-end">
                    £{{ order.delivery_charge }}</p>
            </div>
        </div>
        <div class="d-flex px-2">
            <div class="col-4 col-md-3 offset-5 offset-md-7 d-inline-flex">
                <p class="text-sm-end">Grand Total:</p>
            </div>
            <div class="col-3 col-md-2 d-inline-flex">
                <p class="fw-bolder text-sm-end">
                    £{{ order.order_grand_total }}
                </p>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% endblock %}
