<!-- account_and_basket_bar.html -->
<header class="container-fluid d-none d-md-block">
	<div id="topnav" class="row bg-white pt-lg-2 fixed-top mb-1 d-print-none">
		<div id="brand-logo"
			class="col-12 col-md-4 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
			<a href="{% url 'home:home' %}" class="nav-link main-logo-link">
				<h4 class="text-black my-0 d-print-inline">
					<span class="logo-font-lkm fs-3">LKM </span><span
						class="logo-font-creations fs-3">Creations</span>
				</h4>
			</a>
		</div>
		<div id="search-box" class="col-md-3 col-lg-4 my-auto py-1 py-lg-0">
			{% include "base/components/search.html" %}
		</div>

		<div id="login-out-register-account"
			class="col-12 col-md-5 col-lg-4 my-auto py-1 d-none d-md-block">
			<ul id="login-out-register-account-menu"
				class="list-inline list-unstyled text-center text-lg-right my-0">
				{% if request.user.is_authenticated %}
				<li class="list-inline-item">
					<a class="text-black nav-link" href="{% url "dashboard" %}"
						id="account-button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<div class="text-center">
							<div><i class="fs-5 bi bi-person-fill"></i></div>
							<p class="my-0 small">My Account</p>
						</div>
					</a>
				</li>

				<li id="signout-button" class="list-inline-item">
					<a class="nav-link text-black" href="#" role="button"
						data-bs-toggle="modal" data-bs-target="#logoutModal"
						aria-expanded="false">
						<div class="text-center">
							<div><i class="fs-5 bi bi-box-arrow-right"
									title="Click to Logout"></i>
							</div>
							<p class="fs-6 fw-semibold">
								Logout
							</p>
						</div>
					</a>
				</li>
				{% else %}

				<li id="register-button" class="list-inline-item">
					<a class="nav-link text-black" href="/accounts/signup"
						role="button" aria-expanded="false">
						<div class="text-center">
							<div><i class="fs-5 bi bi-person-plus"
									title="Click to Register"></i>
							</div>
							<p class="fs-6 fw-semibold">
								Register
							</p>
						</div>
					</a>
				</li>

				<li id="signin-button" class="list-inline-item">
					<!-- sign-out-confirmation-modal -->
					<!-- Button trigger modal -->
					<a class="nav-link text-black" href="#" role="button"
						data-bs-toggle="modal" data-bs-target="#logInModal"
						aria-expanded="false">
						<div class="text-center">
							<div><i class="fs-5 bi bi-box-arrow-right"
									title="Click to Sign In"></i>
							</div>
							<p class="fs-6 fw-semibold">
								Sign In
							</p>
						</div>
					</a>
				</li>
				{% endif %}

				<li id="basket-button"
					class="list-inline-item text-black text-decoration-none">
					<a href="{% url "summary" %}" class="{% if basket_items %}
		 font-weight-bold {% endif %} nav-link text-black text-decoration-none"
						role="button">
						<div class="text-center">
							<div class="d-inline-flex">
								{% if total_quantity is 0 %}
								<span id="basket_quantity-mobile"
									class="small text-muted">
								</span>
								<i class="fs-5 bi bi-cart4 mx-1"></i>
								{% else %}
								<span id="basket_quantity-mobile"
									class="small">
									{{ total_quantity }}</span>
								<i class="fs-5 bi bi-cart4 mx-1"></i>
								{% endif %}
							</div>
							<p class="fs-6 fw-semibold">
								{% if total_quantity is not 0 %}
								£<span
									id="basket_subtotal-mobile">{{ subtotal | floatformat:2 }}</span>
								{% else %}
								<span id="basket_subtotal-mobile">Basket</span>
								{% endif %}
							</p>
						</div>
					</a>
				</li>


			</ul>
		</div>
		{% include "base/components/navbar.html" %}
	</div>


</header>
<!-- end of account_and_basket_bar.html -->
