<!-- account_and_basket_bar.html -->
<header class="container-fluid d-none d-md-block">
	<div id="topnav" class="row bg-white pt-lg-2 fixed-top mb-1 d-print-none">
		<div id="brand-logo"
			class="col-12 col-md-4 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
			<a href="{% url 'home:home' %}" class="nav-link main-logo-link">
				<h4 class="text-black my-0 d-print-inline">
					<span class="logo-font-lkm fs-3">LKM </span><span
						class="logo-font-creations fs-3">Creations</span>
				</h4>
			</a>
		</div>
		<div id="search-box" class="col-md-3 col-lg-4 my-auto py-1 py-lg-0">
			{% include "base/components/search.html" %}
		</div>
		<div id="login-out-register-account"
			class="col-12 col-md-5 col-lg-4 my-auto py-1 d-none d-md-block">
			<ul id="login-out-register-account-menu"
				class="list-inline list-unstyled text-center text-lg-right my-0">
				{% if request.user.is_authenticated %}
				<li class="list-inline-item">
					<a class="nav-link text-primary-darkest nav-svg"
						href="{% url "dashboard" %}" id="account-button"
						data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<div class="text-center">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg"
									width="32" height="32" fill="currentColor"
									viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z">
									</path>
							</div>
							<p class="my-0 small">My Account</p>
						</div>
					</a>
				</li>
				<li id="signout-button" class="list-inline-item">
					<a class="nav-link text-primary-darkest nav-svg" href="#"
						role="button" data-bs-toggle="modal"
						data-bs-target="#logoutModal" aria-expanded="false">
						<div class="text-center">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg"
									width="32" height="32" fill="currentColor"
									viewBox="0 0 16 16">
									<path xmlns="http://www.w3.org/2000/svg"
										fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1
										.5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5
										2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0
										1.5-1.5v-2a.5.5 0 0 0-1 0v2z">
									</path>
									<path xmlns="http://www.w3.org/2000/svg"
										fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293
										7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
									</path>
								</svg>
							</div>
							<p class="fs-6 fw-semibold">
								Logout
							</p>
						</div>
					</a>
				</li>
				{% else %}
				<li id="register-button" class="list-inline-item">
					<a class="nav-link text-primary-darkest nav-svg"
						href="/accounts/signup" role="button"
						aria-expanded="false">
						<div class="text-center">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg"
									width="32" height="32" fill="currentColor"
									viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0
										0 0 0 6z">
									</path>
								</svg>
							</div>
							<p class="fs-6 fw-semibold">
								Register
							</p>
						</div>
					</a>
				</li>
				<li id="signin-button" class="list-inline-item">
					<!-- sign-out-confirmation-modal -->
					<!-- Button trigger modal -->
					<a class="nav-link text-primary-darkest nav-svg" href="#"
						role="button" data-bs-toggle="modal"
						data-bs-target="#logInModal" aria-expanded="false">
						<div class="text-center">
							<div><svg xmlns="http://www.w3.org/2000/svg"
									width="32" height="32" fill="currentColor"
									viewBox="0 0 16 16">
									<path xmlns="http://www.w3.org/2000/svg"
										fill-rule="evenodd"
										d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z">
									</path>
									<path xmlns="http://www.w3.org/2000/svg"
										fill-rule="evenodd"
										d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
									</path>
								</svg>
							</div>
							<p class="fs-6 fw-semibold">
								Sign In
							</p>
						</div>
					</a>
				</li>
				{% endif %}
				<li id="basket-button"
					class="list-inline-item text-black text-decoration-none">
					<a href="{% url "summary" %}" class="{% if basket_items %}
		 font-weight-bold {% endif %} nav-link text-primary-darkest nav-svg
		 text-decoration-none" role="button">
						<div class="text-center">
							<div class="d-inline-flex">
								{% if total_quantity is 0 %}
								<span id="basket_quantity-mobile"
									class="small text-muted">
								</span>
								<svg xmlns="http://www.w3.org/2000/svg"
									width="32" height="32" fill="currentColor"
									viewBox="0 0 16 16">
									<path xmlns="http://www.w3.org/2000/svg"
										d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z">
									</path>
								</svg>
								{% else %}
								<span id="basket_quantity-mobile"
									class="small">
									{{ total_quantity }}</span>
								<svg xmlns="http://www.w3.org/2000/svg"
									width="32" height="32" fill="currentColor"
									viewBox="0 0 16 16">
									<path xmlns="http://www.w3.org/2000/svg"
										d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z">
									</path>
								</svg>
								{% endif %}
							</div>
							<p class="fs-6 fw-semibold">
								{% if total_quantity is not 0 %}
								£<span
									id="basket_subtotal-mobile">{{ subtotal | floatformat:2 }}</span>
								{% else %}
								<span id="basket_subtotal-mobile">Basket</span>
								{% endif %}
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		{% include "base/components/navbar.html" %}
	</div>
</header>
<!-- end of account_and_basket_bar.html -->
