{% load active_link_tags %}
<!-- navbar.html -->
<nav class="navbar navbar-expand-md navbar-light bg-primary-light rounded d-none d-md-block d-print-none"
	aria-label="Shop Navigation Bar">
	<div class="container-fluid justify-content-md-center" id="shopNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link {% if '/sale' in request.path %}active{% endif %}"
					{% if '/sale' in request.path %}aria-current="page"
					{% endif %} href="{% url 'sale' %}">Sale Items</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if '/products' in request.path %}active{% endif %}"
					{% if '/products' in request.path %}aria-current="page"
					{% endif %} href="{% url 'products' %}">All
					Products</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle {% if '/category/' in request.path %}active{% endif %}"
					{% if '/category/' in request.path %}aria-current="page"
					{% endif %} href="#" id="dropdown"
					data-bs-toggle="dropdown" aria-expanded="false">Shop by
					Category</a>
				<ul class="dropdown-menu" aria-labelledby="dropdown">
					{% for category in categories %}
					<li>
						<a class="dropdown-item"
							href="/store/category/{{ category.slug }}">
							{{ category.name|title }}'s</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if '/contact-us' in request.path %}active{% endif %}"
					{% if '/contact-us' in request.path %}aria-current="page"
					{% endif %} href="{% url 'home:contact-us' %}">Contact
					Us</a>
			</li>
			<li class="nav-item">
				<!--Newsletter Signup -modal -->
				<!-- Button trigger modal -->
				<a class="nav-link ms-3" href="#" role="button"
					data-bs-toggle="modal"
					data-bs-target="#NewsletterSignupModal"
					aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" width="28"
						height="28" fill="currentColor" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7ZM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5ZM10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM13 8h-2V6h2v2Z">
						</path>
					</svg>
					Newsletter Signup
				</a>
			</li>
		</ul>
		<div class="d-md-none col-10 offset-1 my-auto py-1 py-lg-0">
			{% include "base/components/search.html" %}
		</div>
	</div>
</nav>
<!-- end of navbar.html -->