<form method="GET" action="{% url 'products' %}">
	<div class="input-group w-100 d-print-none">
		<input class="form-control border border-black rounded-start"
			type="text" name="q" placeholder="Search our site" />
		<div class="input-group-append">
			<button
				class="form-control btn btn-black border border-black rounded-end"
				type="submit" aria-label="search site">

				<span class="icon text-primary-darkest">
					<svg xmlns="http://www.w3.org/2000/svg" width="28"
						height="28" fill="currentColor" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M11.742 10.344a6.5 6.5 0 1 0-1.397
										1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0
										1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1
										1-11 0 5.5 5.5 0 0 1 11 0z"></path>
					</svg>

				</span>
			</button>
		</div>
	</div>
</form>
