			<nav class="d-md-none navbar navbar-light bg-white px-2
	border-bottom">
				<ul class="nav navbar-light bg-white justify-content-center">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-primary-darker" class="text-black text-decoration-none
			link-hover-primary" href="#" id="dropdown" data-bs-toggle="dropdown"
							aria-expanded="false">Site Policys</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown">
							<li>
								<a class="dropdown-item {% if 'cookie-policy' in request.path %}active{% endif %}"
									class="text-black text-decoration-none
			link-hover-primary" href="/documents/cookie-policy"
									aria-current="Cookie Policy">Cookie Policy</a>
							</li>
							<li>
								<a class="dropdown-item {% if 'disclaimer-policy' in request.path %}active{% endif %}"
									class="text-black text-decoration-none
			link-hover-primary" href="/documents/disclaimer-policy"
									aria-current="Disclaimer Policy">Disclaimer
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item {% if 'privacy-policy' in request.path %}active{% endif %}"
									class="text-black text-decoration-none
			link-hover-primary" href="/documents/privacy-policy"
									aria-current="Privacy Policy">Privacy
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item {% if 'returns-policy' in request.path %}active{% endif %}"
									class="text-black text-decoration-none
			link-hover-primary" href="/documents/returns-policy"
									aria-current="Returns Policy">Returns
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item {% if 'terms-of-service-policy' in request.path %}active{% endif %}"
									class="text-black text-decoration-none
			link-hover-primary" href="/documents/terms-of-service-policy"
									aria-current="Terms of Service">Terms of
									Service</a>
							</li>
							<li>
								<a class="dropdown-item {% if 'shipping-policy' in request.path %}active{% endif %}"
									class="text-black text-decoration-none
			link-hover-primary" href="/documents/shipping-policy"
									aria-current="Shipping Policy">Shipping
									Policy</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>