			<nav class="d-md-none navbar navbar-light bg-white px-2
	border-bottom">
				<ul class="nav navbar-light bg-white justify-content-center">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-primary-darker text-black text-decoration-none link-hover-primary"
							href="#" id="dropdown-site-policies"
							data-bs-toggle="dropdown" aria-expanded="false">Site
							Policies</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown">
							<li>
								<a class="dropdown-item text-black text-decoration-none link-hover-primary
								{% if 'cookie-policy' in request.path %}active{% endif %}"
									{% if 'cookie-policy' in request.path %}aria-current="page"
									{% endif %} href="/documents/cookie-policy">Cookie
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item text-black text-decoration-none link-hover-primary
								{% if 'disclaimer-policy' in request.path %}active{% endif %}"
									{% if 'disclaimer-policy' in request.path %}aria-current="page"
									{% endif %}
									href="/documents/disclaimer-policy">Disclaimer
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item text-black text-decoration-none link-hover-primary
								{% if 'privacy-policy' in request.path %}active{% endif %}"
									{% if 'privacy-policy' in request.path %}aria-current="page"
									{% endif %} href="/documents/privacy-policy">Privacy
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item text-black text-decoration-none link-hover-primary
								{% if 'returns-policy' in request.path %}active{% endif %}"
									{% if 'returns-policy' in request.path %}aria-current="page"
									{% endif %} href="/documents/returns-policy">Returns
									Policy</a>
							</li>
							<li>
								<a class="dropdown-item text-black text-decoration-none link-hover-primary
								{% if 'terms-of-service-policy' in request.path %}active{% endif %}"
									{% if 'terms-of-service-policy' in request.path %}aria-current="page"
									{% endif %}
									href="/documents/terms-of-service-policy">Terms of
									Service</a>
							</li>
							<li>
								<a class="dropdown-item text-black text-decoration-none link-hover-primary
								{% if 'shipping-policy' in request.path %}active{% endif %}"
									{% if 'shipping-policy' in request.path %}aria-current="page"
									{% endif %}
									href="/documents/shipping-policy">Shipping
									Policy</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>