<h1 class="card-title text-center">Shipping Policy</h1>
<p class="text-muted my-5">Last updated June 27, 2022
</p>
<p>Please carefully review our Shipping & Delivery Policy when
	purchasing our products. This policy will apply to any order you
	place with us.</p>
<p class=" fw-bold fs-5 mt-3">WHAT ARE MY SHIPPING & DELIVERY OPTIONS?
</p>
<p class=" fw-bold fs-5 mt-3">Free Shipping</p>
<p>
	We offer free Standard two day shipping on Orders over £20.
</p>
<p class=" fw-bold fs-5 mt-3">Expedited Shipping Fees</p>
<p>
	We also offer expedited shipping at the following rates:
	Items are dispatched with the Royal Mail with a 2-3 day
	service.
	Orders £{{site_info.free_delivery_over}} or less will incure a
	£{{site_info.delivery_price|floatformat:2}} delivery charge.
	Orders over {{site_info.free_delivery_over}} are delivered on our
	standard delivery service for free.</p>
<p>
	All times and dates given for delivery of the products are given in
	good faith but are estimates only.
	For EU and UK consumers: This does not affect your statutory
	rights. Unless specifically noted, estimated delivery times reflect
	the earliest available delivery, and deliveries will be made within
	30 days after the day we accept your order. For more information
	please refer to our Terms.
</p>
<p class=" fw-bold fs-5 mt-3">DO YOU DELIVER INTERNATIONALLY?</p>
<p>
	We do not offer international shipping.
</p>
<p class=" fw-bold fs-5 mt-3">WHAT HAPPENS IF MY ORDER IS DELAYED?</p>
<p>
	If delivery is delayed for any reason we will let you know as soon
	as possible and will advise you of a revised estimated date for
	delivery.
</p>
<p>
	For EU and UK consumers: This does not affect your statutory
	rights. For more information please refer to our Terms.
</p>
<p class=" fw-bold fs-5 mt-3">HOW CAN YOU CONTACT US ABOUT THIS POLICY?
</p>
<p>
	If you have any questions or comments, please email us: <a class="text-black text-decoration-none
			link-hover-primary"
		href="mailto:{{ site_info.email_address }}?subject=Questions%20Regarding%20Delivery%20and%20Shipping%20Policy">
		{{ site_info.email_address }}</a>
</p>