{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block metadescription %}
	{% endblock %}
	<meta name="theme-color" content="#fdcece43">
	<meta name="author" content="David Kitley-McNamara">
	{% include "base/layout/stylesheets.html" %}
	{% include "base/layout/base_javascripts.html" %}
	<title>{% block title %}LKM Creations{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- includes NAV -->
	{% include "base/components/account_and_basket_bar.html" %}
	{% include "base/components/navbar_mobile.html" %}
	<div id="shopAnnouncementModal"
		class="rounded-10 box-shadow shopAnnouncementModal bg-blur">
		<div class="modal-top">
			<button id="closeBtn">X</button>
		</div>
		<div class="p-5">
			<h2 class="fs-4 text-center">
				Site information</h2>
			<hr>
			<h2 class="fs-5 text-center">
				{{ site_info.alert_message }}</h2>
		</div>
	</div>
	<div class="toast-container">
		{% if messages %}
		{% for message in messages %}
		{% with message.level as level %}
		{% if level == 40 %}
		{% include 'toasts/toast_error.html' %}
		{% elif level == 30 %}
		{% include 'toasts/toast_warning.html' %}
		{% elif level == 25 %}
		{% include 'toasts/toast_success.html' %}
		{% else %}
		{% include 'toasts/toast_info.html' %}
		{% endif %}
		{% endwith %}
		{% endfor %}
		{% endif %}
	</div>
	<!-- Main Block Content -->
	{% block content %} {% endblock content %}
	<!-- End of Main Block Content -->
	<!-- Footer -->
	{% include "base/components/footer.html" %}
	{% include "store/components/return_to_top_button.html" %}
	<!-- End of Footer -->
	<!-- Local JS-->
	<script src="{% static 'js/show_alert_once.js' %}"></script>
	<script src="{% static 'js/show_toast.js' %}"></script>
	<script src="{% static 'js/return_to_top_button.js' %}"></script>
	{% block postloadjs %}
	{{ block.super }}
	{% endblock %}
</body>

</html>
