{% load static %}
{% load django_simple_cookie_consent_tags %}
<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include "base/layout/webmanifest.html" %}

	{% block metadescription %}
	{% endblock %}
	<meta name="theme-color" content="#fdcece43">
	<meta name="author" content="David Kitley-McNamara">
	{% include "base/layout/stylesheets.html" %}
	{% include "base/layout/base_javascripts.html" %}

	{% block custom_page_stylesheet %}
	{% endblock %}
	<title>{% block title %}{{ request.site.name }}{% endblock %}</title>
	{% display_cookie_consent %}
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- includes NAV -->
	{% include "base/components/account_and_basket_bar.html" %}
	{% include "base/components/navbar_mobile.html" %}
	<div id="shopAnnouncementModal"
		class="rounded-10 box-shadow shopAnnouncementModal">
		<div class="modal-top">
			<button id="closeBtn">X</button>
		</div>
		<div class="p-5">
			<h2 class="fs-4 text-center">
				Site information</h2>
			<hr>
			<h2 class="fs-5 text-center">
				{{ site_info.alert_message }}</h2>
		</div>
	</div>
	<div class="toast-container">
		{% if messages %}
		{% for message in messages %}
		{% with message.level as level %}
		{% if level == 40 %}
		{% include 'toasts/toast_error.html' %}
		{% elif level == 30 %}
		{% include 'toasts/toast_warning.html' %}
		{% elif level == 25 %}
		{% include 'toasts/toast_success.html' %}
		{% else %}
		{% include 'toasts/toast_info.html' %}
		{% endif %}
		{% endwith %}
		{% endfor %}
		{% endif %}
	</div>
	<!-- Main Block Content -->
	{% block content %} {% endblock content %}
	<!-- End of Main Block Content -->
	<!-- Footer -->
	{% include "base/components/footer.html" %}
	{% include "store/components/return_to_top_button.html" %}
	<!-- End of Footer -->
	<!-- Sign Out Modal -->
	<div class="modal fade" id="logoutModal" tabindex="-1"
		aria-labelledby="logoutModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ">
				<div class="modal-header">
					<h3 class="modal-title" id="logoutModalLabel">Logout
						Confirmation:</h3>
					<button type="button" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to logout?</p>
					<form method="post"
						action="/accounts/logout/?next={{ request.path }}">
						{% csrf_token %}
						<div class="modal-footer">
							<button type="button"
								class="btn btn-outline-secondary text-uppercase"
								data-bs-dismiss="modal">Close</button>
							<button type="submit"
								class="btn btn-primary text-uppercase">Logout</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END of sign-out-confirmation-modal -->
	<!-- Sign In Modal -->
	<div class="modal fade" id="logInModal" tabindex="-1"
		aria-labelledby="logInModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ">
				<div class="modal-header">
					<hr>
					<h2 class="text-center">Sign In</h2>
					<hr class="mb-5">
				</div>
				<div class="modal-body">
					{% load socialaccount %}
					{% comment %} {% providers_media_js %} {% endcomment %}
					{% if user.is_authenticated %}
					Hello, {{ user.username }}. <a href='/logout'>Logout</a>
					{% else %}
					<p>If you have not created an account yet, then please
						<a href="/accounts/signup/?next=%2F">sign up</a>
						first.
					</p>
					<form class="login mt-3" method="POST"
						action="/accounts/login/?next={{ request.path }}">
						{% csrf_token %}
						<div id="div_id_login" class="form-group"> <label
								for="id_login" class=" requiredField">
								Login<span class="asteriskField">*</span>
							</label>
							<div> <input type="text" name="login"
									placeholder="Username or e-mail"
									autocomplete="email"
									class="textinput textInput form-control"
									required id="id_login"> </div>
						</div>
						<div id="div_id_password" class="form-group">
							<label for="id_password" class=" requiredField">
								Password<span class="asteriskField">*</span>
							</label>
							<div> <input type="password" name="password"
									placeholder="Password"
									autocomplete="current-password"
									class="textinput textInput form-control"
									required id="id_password">
							</div>
						</div>
						<div class="form-group">
							<div id="div_id_remember" class="form-check">
								<input type="checkbox" name="remember"
									class="checkboxinput form-check-input"
									id="id_remember"> <label for="id_remember"
									class="form-check-label">
									Remember Me
								</label> </div>
						</div>
						<div class="modal-footer">
							<div class="d-grid gap-2 col-12 mt-3">
								<a class="btn btn-outline-secondary text-uppercase"
									href="/">Home</a>
								<button class="btn btn-primary text-uppercase"
									type="submit">Sign
									In</button>
							</div>
							<p class="mt-2">
								<a class="button secondaryAction flex-end"
									href="/accounts/password/reset/">Forgot
									Password?</a>
							</p>
						</div>
						<p class="text-center"> Or Login with your Social Media
							account</p>
						<div
							class="d-flex flex-row justify-content-evenly mt-1">
							<div class="mt-2">
								<a href="{% provider_login_url "facebook" method="oauth2" %}"
									class="btn btn-fb">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="28" height="28"
										fill="currentColor"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z">
										</path>
									</svg>&nbsp;Login<span
										class="d-none d-md-block">&nbsp;with
										Facebook</span>
								</a>
							</div>
							<div class="mt-2">
								<a href="{% provider_login_url "google" method="oauth2" %}"
									class="btn btn-google">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="28" height="28"
										fill="currentColor"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384
											5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0
											0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86
											1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405
											3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0
											0 0 1.599-2.431H8v-3.08h7.545z"></path>
									</svg>&nbsp;Login<span
										class="d-none d-md-block">&nbsp;with
										Google+</span>
								</a>
							</div>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- END of sign-in-confirmation-modal -->
	<!-- Newsletter Signup In Modal -->
	<div class="modal fade" id="NewsletterSignupModal" tabindex="-1"
		aria-labelledby="NewsletterSignupModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header d-block">
					<p class="col-12 text-center">
						<span class="logo-font-lkm fs-1">LKM </span>
						<span class="logo-font-creations fs-1">Creations</span>
					</p>
					<h2 class="text-center">Newsletter Subscription
					</h2>
				</div>
				<div class="modal-body px-5">
					<p>Subscribe to our Newsletter to
						get the latest news and
						updates about our products and services.</p>
					<!-- Begin Mailchimp Signup Form -->
					<!-- Begin Mailchimp Signup Form -->
					<link
						href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css"
						rel="stylesheet" type="text/css">

					<div id="mc_embed_signup" class="p-0">
						<form
							action="https://herokuapp.us17.list-manage.com/subscribe/post?u=c3d6265f7862389b9663cbb6c&amp;id=eee9c69d11"
							method="post" id="mc-embedded-subscribe-form"
							name="mc-embedded-subscribe-form"
							class="validate p-0" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll" class="p-0">
								<div class="indicates-required m-0"><span
										class="asterisk">*</span> indicates
									required</div>
								<div class="mc-field-group m-0 w-100">
									<label for="mce-EMAIL">Email Address <span
											class="asterisk">*</span>
									</label>
									<input type="email" value="" name="EMAIL"
										class="required email m-0"
										id="mce-EMAIL">
								</div>
								<div class="mc-field-group w-100">
									<label for="mce-FNAME">First Name </label>
									<input type="text" value="" name="FNAME"
										class="m-0 w-100" id="mce-FNAME">
								</div>
								<div class="mc-field-group w-100">
									<label for="mce-LNAME">Last Name </label>
									<input type="text" value="" name="LNAME"
										class="m-0" id="mce-LNAME">
								</div>
								<div id="mce-responses" class="clear foot">
									<div class="response w-100"
										id="mce-error-response"
										style="display:none"></div>
									<div class="response w-100"
										id="mce-success-response"
										style="display:none"></div>
								</div>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;"
									aria-hidden="true"><input type="text"
										name="b_c3d6265f7862389b9663cbb6c_eee9c69d11"
										tabindex="-1" value=""></div>
								<div class="optionalParent">
									<div class="">
										<input type="submit" value="Subscribe"
											name="subscribe"
											id="mc-embedded-subscribe"
											class="btn-primary btn">
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--End mc_embed_signup-->
				</div>
			</div>
		</div>
	</div>
	<!-- END of sign-in-confirmation-modal -->


	{% block postloadjs %}
	{{ block.super }}
	<script src="{% static 'js/show_alert_once.js' %}"></script>
	<script src="{% static 'js/show_toast.js' %}"></script>
	<script src="{% static 'js/return_to_top_button.js' %}"></script>
	<script src="{% static 'js/mailchimp.js' %}"></script>
	<script src="{% static 'js/facebook.js' %}"></script>
	<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
	</script>
	{% endblock %}
</body>

</html>
