{% load static %}
{% load django_simple_cookie_consent_tags %}
<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block metadescription %}
	{% endblock %}
	<meta name="theme-color" content="#fdcece43">
	<meta name="author" content="David Kitley-McNamara">
	{% include "base/layout/stylesheets.html" %}
	{% include "base/layout/base_javascripts.html" %}
	{% block custom_page_stylesheet %}
	{% endblock %}
	<title>{% block title %}{{ request.site.name }}{% endblock %}</title>
	{% display_cookie_consent %}
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- includes NAV -->
	{% include "base/components/account_and_basket_bar.html" %}
	{% include "base/components/navbar_mobile.html" %}
	<div id="shopAnnouncementModal"
		class="rounded-10 box-shadow shopAnnouncementModal bg-blur">
		<div class="modal-top">
			<button id="closeBtn">X</button>
		</div>
		<div class="p-5">
			<h2 class="fs-4 text-center">
				Site information</h2>
			<hr>
			<h2 class="fs-5 text-center">
				{{ site_info.alert_message }}</h2>
		</div>
	</div>
	<div class="toast-container">
		{% if messages %}
		{% for message in messages %}
		{% with message.level as level %}
		{% if level == 40 %}
		{% include 'toasts/toast_error.html' %}
		{% elif level == 30 %}
		{% include 'toasts/toast_warning.html' %}
		{% elif level == 25 %}
		{% include 'toasts/toast_success.html' %}
		{% else %}
		{% include 'toasts/toast_info.html' %}
		{% endif %}
		{% endwith %}
		{% endfor %}
		{% endif %}
	</div>
	<!-- Main Block Content -->
	{% block content %} {% endblock content %}
	<!-- End of Main Block Content -->
	<!-- Footer -->
	{% include "base/components/footer.html" %}
	{% include "store/components/return_to_top_button.html" %}
	<!-- End of Footer -->

	<!-- Sign Out Modal -->
	<div class="modal fade" id="logoutModal" tabindex="-1"
		aria-labelledby="logoutModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ">
				<div class="modal-header">
					<h3 class="modal-title" id="logoutModalLabel">Logout
						Confirmation:</h3>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to logout?</p>
					<form method="post"
						action="/accounts/logout/?next={{ request.path }}">
						{% csrf_token %}
						<div class="modal-footer">
							<button
								class="btn btn-outline-secondary text-uppercase"
								data-bs-dismiss="modal">Close</button>
							<button type="submit"
								class="btn btn-primary text-uppercase">Logout</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END of sign-out-confirmation-modal -->



	<!-- Sign In Modal -->
	<div class="modal fade" id="logInModal" tabindex="-1"
		aria-labelledby="logInModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ">
				<div class="modal-header">
					<hr>
					<h2 class="text-center">Sign In</h2>
					<hr class="mb-5">
				</div>
				<div class="modal-body">
					{% load socialaccount %}
					{% comment %} {% providers_media_js %} {% endcomment %}
					{% if user.is_authenticated %}
					Hello, {{ user.username }}. <a href='/logout'>Logout</a>
					{% else %}
					<p>If you have not created an account yet, then please
						<a href="/accounts/signup/?next=%2F">sign up</a>
						first.
					</p>
					<form class="login mt-3" method="POST"
						action="/accounts/login/?next={{ request.path }}">
						{% csrf_token %}
						<div id="div_id_login" class="form-group"> <label
								for="id_login" class=" requiredField">
								Login<span class="asteriskField">*</span>
							</label>
							<div> <input type="text" name="login"
									placeholder="Username or e-mail"
									autocomplete="email"
									class="textinput textInput form-control"
									required id="id_login"> </div>
						</div>
						<div id="div_id_password" class="form-group">
							<label for="id_password" class=" requiredField">
								Password<span class="asteriskField">*</span>
							</label>
							<div> <input type="password" name="password"
									placeholder="Password"
									autocomplete="current-password"
									class="textinput textInput form-control"
									required id="id_password">
							</div>
						</div>
						<div class="form-group">
							<div id="div_id_remember" class="form-check">
								<input type="checkbox" name="remember"
									class="checkboxinput form-check-input"
									id="id_remember"> <label for="id_remember"
									class="form-check-label">
									Remember Me
								</label> </div>
						</div>
						<div class="modal-footer">
							<div class="d-grid gap-2 col-12 mt-3">
								<a class="btn btn-outline-secondary text-uppercase"
									href="/">Home</a>
								<button class="btn btn-primary text-uppercase"
									type="submit">Sign
									In</button>
							</div>
							<p class="mt-2">
								<a class="button secondaryAction flex-end"
									href="/accounts/password/reset/">Forgot
									Password?</a>
							</p>
						</div>
						<p class="text-center"> Or Login with your Social Media
							account</p>
						<div
							class="d-flex flex-row justify-content-evenly mt-1">
							<div class="mt-2">
								<a href="{% provider_login_url "facebook" method="oauth2" %}"
									class="btn btn-fb">
									<i class="bi bi-facebook"></i>&nbsp;Login
									with Facebook
								</a>
							</div>
							<div class="mt-2">
								<a href="{% provider_login_url "google" method="oauth2" %}"
									class="btn btn-google">
									<i class="bi bi-google"></i>&nbsp;Login
									with Google+
								</a>
							</div>
						</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END of sign-in-confirmation-modal -->











	<!-- Local JS-->
	<script src="{% static 'js/show_alert_once.js' %}"></script>
	<script src="{% static 'js/show_toast.js' %}"></script>
	<script src="{% static 'js/return_to_top_button.js' %}"></script>
	{% block postloadjs %}
	{{ block.super }}
	{% endblock %}
</body>

</html>
