<!-- todo change role to alert for warning and aria-live assertive-->
<div class="toast rounded-bottom border-info" role="status" aria-live="polite"
    aria-atomic="true" data-bs-autohide="true"
    data-bs-delay='{"show":0,"hide":800}'>
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-primary-darker text-white rounded-0">
        <strong class="me-auto">Information!</strong>
        <small>just now</small> <button class="btn-close"
            data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>